<a href="https://colab.research.google.com/github/bharathArunachalam/Web_Scrapping/blob/main/Notebook_WebScrapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Practice 1: Web scrapping stock information

Objective: Scrape the following information from 'https://www.moneycontrol.com/'

Build the table below for 6 companies:

['Rail Vikas', 'TCS', 'Indigo Paints', 'IOC', 'PVR', 'Reliance']

|Name| Date | Time| Closing_price| Change_in_value| Percent_change|

In [ ]:
import requests

url_1 = 'https://www.moneycontrol.com/india/stockpricequote/'
# this page contains links to all the stocks in Indian market.

headers = {'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4758.102 Safari/537.36'}
# response 200 without adding User-Agent detail to requests.get()

response = requests.get(url_1)
response

In [ ]:
response_str_1 = response.text

In [ ]:
from bs4 import BeautifulSoup
import lxml

soup_1 = BeautifulSoup(response_str_1, 'lxml')

#BeautifulSoup object is ready

In [ ]:
link_compilation = soup_1.find('div', {'class': 'PT15'}).table.find_all('a')

company_names = ['Rail Vikas', 'TCS', 'Indigo Paints', 'IOC', 'PVR', 'Reliance']
#the list of companies we need to track data on. Add company name to this list to see the value in the data frame below.

company_links = []

for link in link_compilation:
    for name in company_names:
        if name in link:
            company_links.append(link.get('href'))
# list of company links we are tracking.

company_links

['https://www.moneycontrol.com/india/stockpricequote/paints/indigopaints/IP08',
 'https://www.moneycontrol.com/india/stockpricequote/refineries/indianoilcorporation/IOC',
 'https://www.moneycontrol.com/india/stockpricequote/mediaentertainment/pvr/PVR',
 'https://www.moneycontrol.com/india/stockpricequote/miscellaneous/railvikasnigam/RVN',
 'https://www.moneycontrol.com/india/stockpricequote/refineries/relianceindustries/RI',
 'https://www.moneycontrol.com/india/stockpricequote/computerssoftware/tataconsultancyservices/TCS']

In [ ]:
# response_1  = requests.get(company_links[4])
# response_1

In [ ]:

# response_1_str = response_1.text

In [ ]:
# soup_1 = BeautifulSoup(response_1_str, 'lxml')
# company_name = soup_1.find('div', {'class':'indices_namntab clearfix'}).find('div', {'class':'inid_name'}).h1.text
# #company_name

# time = soup_1.find('div', {'class':'indimprice'}).find('p', {'class': 'nseasondate'}).text[-5:]
# #time

# date = soup_1.find('div', {'class':'indimprice'}).find('p', {'class': 'nseasondate'}).text[-20:-8]
# #date

# price_percent = soup_1.find('div', {'class': 'indimprice'}).find('div',{'class': 'nsechange'}).text
# price_percent_list = price_percent.split(' ')

# price_change = price_percent_list[0]
# percent_change = price_percent_list[1].replace('(', '').replace(')', ''). replace('%', '')

# #price_change
# #percent_change

# closing_price = soup_1.find('div', {'class': 'inprice1 nsecp'}).get('rel')
# #closing_price

# print(company_name, time, date, price_change, percent_change, closing_price)

In [ ]:
from datetime import datetime

In [ ]:
# build a function for the above cell:
def stock_data_extraction(link):
    
    response_str_1 = requests.get(link).text
    soup_1 = BeautifulSoup(response_str_1, 'lxml')

    date = soup_1.find('div', {'class':'indimprice'}).find('p', {'class': 'nseasondate'}).text[-20:-8]
    #date =
    day = date[0:2]
    month = date[3:6].lower()
    year = date[-4:]
    date_format = day + ' ' + month + ' ' + year
    date_format_2 = date_format.replace(' ', '/')
    """formatting the date. We received it as '25 Feb, 2022', We need it as '25/feb/2022' """
    
    price_percent = soup_1.find('div', {'class': 'indimprice'}).find('div',{'class': 'nsechange'}).text
    price_percent_list = price_percent.split(' ')
    """formatting the price_percent.We received it as '(-0.24)', We need it as '-0.24' """
    
    stock_dict = {
                  'company_name' : soup_1.find('div', {'class':'indices_namntab clearfix'}).find('div', {'class':'inid_name'}).h1.text,
                  'date' : date_format_2,
                  'time' : soup_1.find('div', {'class':'indimprice'}).find('p', {'class': 'nseasondate'}).text[-5:],
                  'closing_price' : float(soup_1.find('div', {'class': 'inprice1 nsecp'}).get('rel')),
                  'price_change' : float(price_percent_list[0]),
                  'percent_change' : float(price_percent_list[1].replace('(', '').replace(')', ''). replace('%', '')),
                  }
    
    return stock_dict

stock_data_extraction(company_links[1])

{'closing_price': 114.65,
 'company_name': 'Indian Oil Corporation Ltd.',
 'date': '03/mar/2022',
 'percent_change': 2.14,
 'price_change': 2.4,
 'time': '03:59'}

In [ ]:
#checking response stat of individual links

stock_data_list = []

for link in company_links:
    stock_data_list.append(stock_data_extraction(link))

print(stock_data_list)

[{'company_name': 'Indigo Paints Ltd.', 'date': '03/mar/2022', 'time': '03:52', 'closing_price': 1754.5, 'price_change': 7.2, 'percent_change': 0.41}, {'company_name': 'Indian Oil Corporation Ltd.', 'date': '03/mar/2022', 'time': '03:59', 'closing_price': 114.65, 'price_change': 2.4, 'percent_change': 2.14}, {'company_name': 'PVR Ltd.', 'date': '03/mar/2022', 'time': '03:58', 'closing_price': 1628.5, 'price_change': -28.2, 'percent_change': -1.7}, {'company_name': 'Rail Vikas Nigam Ltd.', 'date': '03/mar/2022', 'time': '03:59', 'closing_price': 31.1, 'price_change': 0.05, 'percent_change': 0.16}, {'company_name': 'Reliance Industries Ltd.', 'date': '03/mar/2022', 'time': '03:59', 'closing_price': 2378.3, 'price_change': -20.25, 'percent_change': -0.84}, {'company_name': 'Tata Consultancy Services Ltd.', 'date': '03/mar/2022', 'time': '03:59', 'closing_price': 3544.4, 'price_change': -1.75, 'percent_change': -0.05}]

In [ ]:
import pandas as pd

stock_data_df = pd.DataFrame(stock_data_list)  
stock_data_df

                     company_name         date  ... price_change  percent_change
0              Indigo Paints Ltd.  03/mar/2022  ...         7.20            0.41
1     Indian Oil Corporation Ltd.  03/mar/2022  ...         2.40            2.14
2                        PVR Ltd.  03/mar/2022  ...       -28.20           -1.70
3           Rail Vikas Nigam Ltd.  03/mar/2022  ...         0.05            0.16
4        Reliance Industries Ltd.  03/mar/2022  ...       -20.25           -0.84
5  Tata Consultancy Services Ltd.  03/mar/2022  ...        -1.75           -0.05

[6 rows x 6 columns]

In [ ]:
import json
with open('stock_data_1.json', 'w') as a:
    json.dump(stock_data_list, a)

# converting the list of dictionaries as .json file

# Practice 2: Web scrapping f1 calender 2022

Objective: Scrape the following information from 'https://www.formula1.com'

Build the table below for all the races:

| Country | gp| Race Weekend (from)| Race Weekend (to)|

In [3]:
import requests
url_2 = 'https://www.formula1.com'

response_2 = requests.get(url_2)
response_2

In [4]:
response_str_2 = response_2.text

In [5]:
#response_str_2

In [6]:
from bs4 import BeautifulSoup
import lxml

soup_2 = BeautifulSoup(response_str_2, 'lxml')
#soup_2

In [7]:
race_list = soup_2.find('div',{'class':'race-list'}).find_all('article')
#race_list
#the node below which all data is available.

In [8]:
country_names = []
for item in race_list:
    country_names.append(item.find('span', {'class':'name'}).text)

In [9]:
gp_names = []
for gp in race_list:
    gp_names.append(gp.find('h3').a.text)

In [10]:
from_race_dates = []
for date in race_list:
    from_race_dates.append( date.find('time', {'class': 'from date-full'}).text.strip())

to_race_dates = []
for date in race_list:
    to_race_dates.append( date.find('time', {'class': 'to date-full'}).text.strip())

In [11]:
import pandas as pd
pd.set_option('display.max_colwidth', 1)

race_schedule_data = {'country': country_names, 'gp': gp_names, 'from': from_race_dates,'to': to_race_dates}

index= []
for i in range (1, len(country_names)+1):
    index.append(i)

f1_schedule_df = pd.DataFrame(race_schedule_data, index= index)
f1_schedule_df

,country,gp,from,to
1,Bahrain,FORMULA 1 GULF AIR BAHRAIN GRAND PRIX 2022,18 Mar 2022,20 Mar 2022
2,Saudi Arabia,FORMULA 1 STC SAUDI ARABIAN GRAND PRIX 2022,25 Mar 2022,27 Mar 2022
3,Australia,FORMULA 1 HEINEKEN AUSTRALIAN GRAND PRIX 2022,08 Apr 2022,10 Apr 2022
4,Italy,FORMULA 1 ROLEX GRAN PREMIO DELL'EMILIA ROMAGNA 2022,22 Apr 2022,24 Apr 2022
5,United States,FORMULA 1 CRYPTO.COM MIAMI GRAND PRIX 2022,06 May 2022,08 May 2022
6,Spain,FORMULA 1 PIRELLI GRAN PREMIO DE ESPAÃA 2022,20 May 2022,22 May 2022
7,Monaco,FORMULA 1 GRAND PRIX DE MONACO 2022,27 May 2022,29 May 2022
8,Azerbaijan,FORMULA 1 AZERBAIJAN GRAND PRIX 2022,10 Jun 2022,12 Jun 2022
9,Canada,FORMULA 1 GRAND PRIX DU CANADA 2022,17 Jun 2022,19 Jun 2022
10,Great Britain,FORMULA 1 BRITISH GRAND PRIX 2022,01 Jul 2022,03 Jul 2022
11,Austria,FORMULA 1 GROSSER PREIS VON ÃSTERREICH 2022,08 Jul 2022,10 Jul 2022
12,France,FORMULA 1 GRAND PRIX DE FRANCE 2022,22 Jul 2022,24 Jul 2022
13,Hungary,FORMULA 1 MAGYAR NAGYDÃJ 2022,29 Jul 2022,31 Jul 2022
14,Belgium,FORMULA 1 ROLEX BELGIAN GRAND PRIX 2022,26 Aug 2022,28 Aug 2022
15,Netherlands,FORMULA 1 HEINEKEN DUTCH GRAND PRIX 2022,02 Sep 2022,04 Sep 2022
16,Italy,FORMULA 1 PIRELLI GRAN PREMIO DâITALIA 2022,09 Sep 2022,11 Sep 2022
17,Singapore,FORMULA 1 SINGAPORE GRAND PRIX 2022,30 Sep 2022,02 Oct 2022
18,Japan,FORMULA 1 JAPANESE GRAND PRIX 2022,07 Oct 2022,09 Oct 2022
19,United States,FORMULA 1 ARAMCO UNITED STATES GRAND PRIX 2022,21 Oct 2022,23 Oct 2022
20,Mexico,FORMULA 1 GRAN PREMIO DE LA CIUDAD DE MÃXICO 2022,28 Oct 2022,30 Oct 2022
21,Brazil,FORMULA 1 HEINEKEN GRANDE PRÃMIO DE SÃO PAULO 2022,11 Nov 2022,13 Nov 2022
22,Abu Dhabi,FORMULA 1 ETIHAD AIRWAYS ABU DHABI GRAND PRIX 2022,18 Nov 2022,20 Nov 2022

In [12]:
f1_schedule_df.to_excel("f1_schedule_2022.xlsx")

# Practice 3: Web scrapping of points premier leauge table

Objective: Scrape the following information from 'https://www.premierleague.com/'

Build the table below for all the races:

|position| club | played| won| drawn| lost| GF| GA| GD| points|

In [66]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [67]:
url = 'https://www.premierleague.com/tables'
response_3 = requests.get(url)
response_3

In [68]:
response_3_str = response_3.text
#response_3_str

In [69]:
soup_3 = BeautifulSoup(response_3_str, 'lxml')
#soup_3

In [70]:
len(soup_3.find_all('table'))

4

In [71]:
table = soup_3.find('table')
#table

In [72]:
#creating column names:

column_list = ['rank', 'club', 'played', 'won', 'drawn', 'lost', 'GF', 'GA', 'GD', 'points']

In [75]:
# Converting each row of the table into a list item

trs = table.find('tbody').find_all('tr')
# print(trs[0])
all_trs_list = []
for tr in trs:
    x = tr.find_all('td')[1:11]
    if len(x) != 0:
        all_trs_list.append(x)
print(len(all_trs_list))

20

In [22]:
# extacting information from each cell of the row
a = []
for td in all_trs:

    dictionary = {
                    'rank' : td[0].find('span', {'class': 'value'}).text,
                    'club' : td[1].find('span', {'class': 'long'}).text,
                    'played' : td[2].text,
                    'won' : td[3].text,
                    'drawn' : td[4].text,
                    'lost' : td[5].text,
                    'gf' : td[6].text,
                    'ga': td[7].text,
                    'gd' : td[8].text.strip(),
                    'points' : td[9].text
                }
    a.append(dictionary)
print(a)

[{'rank': '1', 'club': 'Manchester City', 'played': '27', 'won': '21', 'drawn': '3', 'lost': '3', 'gf': '64', 'ga': '17', 'gd': '+47', 'points': '66'}, {'rank': '2', 'club': 'Liverpool', 'played': '26', 'won': '18', 'drawn': '6', 'lost': '2', 'gf': '70', 'ga': '20', 'gd': '+50', 'points': '60'}, {'rank': '3', 'club': 'Chelsea', 'played': '25', 'won': '14', 'drawn': '8', 'lost': '3', 'gf': '49', 'ga': '18', 'gd': '+31', 'points': '50'}, {'rank': '4', 'club': 'Manchester United', 'played': '27', 'won': '13', 'drawn': '8', 'lost': '6', 'gf': '44', 'ga': '34', 'gd': '+10', 'points': '47'}, {'rank': '5', 'club': 'West Ham United', 'played': '27', 'won': '13', 'drawn': '6', 'lost': '8', 'gf': '46', 'ga': '34', 'gd': '+12', 'points': '45'}, {'rank': '6', 'club': 'Arsenal', 'played': '24', 'won': '14', 'drawn': '3', 'lost': '7', 'gf': '38', 'ga': '27', 'gd': '+11', 'points': '45'}, {'rank': '7', 'club': 'Tottenham Hotspur', 'played': '25', 'won': '13', 'drawn': '3', 'lost': '9', 'gf': '35', 'ga': '32', 'gd': '+3', 'points': '42'}, {'rank': '8', 'club': 'Wolverhampton Wanderers', 'played': '26', 'won': '12', 'drawn': '4', 'lost': '10', 'gf': '24', 'ga': '21', 'gd': '+3', 'points': '40'}, {'rank': '9', 'club': 'Southampton', 'played': '26', 'won': '8', 'drawn': '11', 'lost': '7', 'gf': '34', 'ga': '37', 'gd': '-3', 'points': '35'}, {'rank': '10', 'club': 'Brighton and Hove Albion', 'played': '26', 'won': '7', 'drawn': '12', 'lost': '7', 'gf': '25', 'ga': '30', 'gd': '-5', 'points': '33'}, {'rank': '11', 'club': 'Crystal Palace', 'played': '27', 'won': '6', 'drawn': '12', 'lost': '9', 'gf': '37', 'ga': '38', 'gd': '-1', 'points': '30'}, {'rank': '12', 'club': 'Leicester City', 'played': '24', 'won': '8', 'drawn': '6', 'lost': '10', 'gf': '39', 'ga': '43', 'gd': '-4', 'points': '30'}, {'rank': '13', 'club': 'Aston Villa', 'played': '25', 'won': '9', 'drawn': '3', 'lost': '13', 'gf': '33', 'ga': '37', 'gd': '-4', 'points': '30'}, {'rank': '14', 'club': 'Newcastle United', 'played': '25', 'won': '5', 'drawn': '10', 'lost': '10', 'gf': '28', 'ga': '45', 'gd': '-17', 'points': '25'}, {'rank': '15', 'club': 'Brentford', 'played': '27', 'won': '6', 'drawn': '6', 'lost': '15', 'gf': '27', 'ga': '44', 'gd': '-17', 'points': '24'}, {'rank': '16', 'club': 'Leeds United', 'played': '26', 'won': '5', 'drawn': '8', 'lost': '13', 'gf': '29', 'ga': '60', 'gd': '-31', 'points': '23'}, {'rank': '17', 'club': 'Everton', 'played': '24', 'won': '6', 'drawn': '4', 'lost': '14', 'gf': '28', 'ga': '41', 'gd': '-13', 'points': '22'}, {'rank': '18', 'club': 'Burnley', 'played': '25', 'won': '3', 'drawn': '12', 'lost': '10', 'gf': '22', 'ga': '32', 'gd': '-10', 'points': '21'}, {'rank': '19', 'club': 'Watford', 'played': '26', 'won': '5', 'drawn': '4', 'lost': '17', 'gf': '25', 'ga': '47', 'gd': '-22', 'points': '19'}, {'rank': '20', 'club': 'Norwich City', 'played': '26', 'won': '4', 'drawn': '5', 'lost': '17', 'gf': '15', 'ga': '55', 'gd': '-40', 'points': '17'}]

In [24]:
pd.DataFrame(a)

   rank                      club played won drawn lost  gf  ga   gd points
0   1    Manchester City           27     21  3     3    64  17  +47  66
1   2    Liverpool                 26     18  6     2    70  20  +50  60
2   3    Chelsea                   25     14  8     3    49  18  +31  50
3   4    Manchester United         27     13  8     6    44  34  +10  47
4   5    West Ham United           27     13  6     8    46  34  +12  45
5   6    Arsenal                   24     14  3     7    38  27  +11  45
6   7    Tottenham Hotspur         25     13  3     9    35  32  +3   42
7   8    Wolverhampton Wanderers   26     12  4     10   24  21  +3   40
8   9    Southampton               26     8   11    7    34  37  -3   35
9   10   Brighton and Hove Albion  26     7   12    7    25  30  -5   33
10  11   Crystal Palace            27     6   12    9    37  38  -1   30
11  12   Leicester City            24     8   6     10   39  43  -4   30
12  13   Aston Villa               25     9   3     13   33  37  -4   30
13  14   Newcastle United          25     5   10    10   28  45  -17  25
14  15   Brentford                 27     6   6     15   27  44  -17  24
15  16   Leeds United              26     5   8     13   29  60  -31  23
16  17   Everton                   24     6   4     14   28  41  -13  22
17  18   Burnley                   25     3   12    10   22  32  -10  21
18  19   Watford                   26     5   4     17   25  47  -22  19
19  20   Norwich City              26     4   5     17   15  55  -40  17

# Practice 4:Scrape the table from the below link

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url = 'https://en.wikipedia.org/wiki/Cricket'
response_4 = requests.get(url)
response_4

In [25]:
soup = BeautifulSoup(response_4.text, 'lxml')
soup.title

Locating the table we need to scrape

In [27]:
len(soup.find_all('table'))

28

In [30]:
len(soup.find('table', {'class': 'wikitable sortable'}))

2

In [34]:
table = soup.find_all('table', {'class': 'wikitable sortable'})[0]

Creating the column list - contains the names of the columns

In [35]:
column_list_4 = ['team', 'governing_body', 'member_since']

In [50]:
table_all_rows = table.tbody.find_all('tr')[1:]
table_all_rows[0]

<tr>
<th scope="row"><a href="/wiki/Afghanistan" title="Afghanistan">Afghanistan</a>
</th>
<td><a href="/wiki/Afghanistan_Cricket_Board" title="Afghanistan Cricket Board">Afghanistan Cricket Board</a>
</td>
<td>22 June 2017
</td></tr>

In [55]:
team = table_all_rows[0].th.text.strip()

td = table_all_rows[0].find_all('td')
governing_body = td[0].text.strip()
member_since = td[1].text.strip()

'22 June 2017'

In [62]:
value_list = []
for row in table_all_rows:
    td = row.find_all('td') 
    dic_4 = {
            'team' : row.th.text.strip(), 
            'governing_body' : td[0].text.strip() , 
            'member_since' : td[1].text.strip()
            }
    value_list.append(dic_4)
value_list

[{'governing_body': 'Afghanistan Cricket Board',
  'member_since': '22 June 2017',
  'team': 'Afghanistan'},
 {'governing_body': 'Cricket Australia',
  'member_since': '15 July 1909',
  'team': 'Australia'},
 {'governing_body': 'Bangladesh Cricket Board',
  'member_since': '26 June 2000',
  'team': 'Bangladesh'},
 {'governing_body': 'England and Wales Cricket Board',
  'member_since': '15 July 1909',
  'team': 'England'},
 {'governing_body': 'Board of Control for Cricket in India',
  'member_since': '31 May 1926',
  'team': 'India'},
 {'governing_body': 'Cricket Ireland',
  'member_since': '22 June 2017',
  'team': 'Ireland'},
 {'governing_body': 'New Zealand Cricket',
  'member_since': '31 May 1926',
  'team': 'New Zealand'},
 {'governing_body': 'Pakistan Cricket Board',
  'member_since': '28 July 1952',
  'team': 'Pakistan'},
 {'governing_body': 'Cricket South Africa',
  'member_since': '15 July 1909',
  'team': 'South Africa'},
 {'governing_body': 'Sri Lanka Cricket',
  'member_since': '21 July 1981',
  'team': 'Sri Lanka'},
 {'governing_body': 'Cricket West Indies',
  'member_since': '31 May 1926',
  'team': 'West Indies'},
 {'governing_body': 'Zimbabwe Cricket',
  'member_since': '6 July 1992',
  'team': 'Zimbabwe'}]

In [61]:
df_4 = pd.DataFrame(value_list)

In [63]:
df_4

            team                         governing_body  member_since
0   Afghanistan   Afghanistan Cricket Board              22 June 2017
1   Australia     Cricket Australia                      15 July 1909
2   Bangladesh    Bangladesh Cricket Board               26 June 2000
3   England       England and Wales Cricket Board        15 July 1909
4   India         Board of Control for Cricket in India  31 May 1926
5   Ireland       Cricket Ireland                        22 June 2017
6   New Zealand   New Zealand Cricket                    31 May 1926
7   Pakistan      Pakistan Cricket Board                 28 July 1952
8   South Africa  Cricket South Africa                   15 July 1909
9   Sri Lanka     Sri Lanka Cricket                      21 July 1981
10  West Indies   Cricket West Indies                    31 May 1926
11  Zimbabwe      Zimbabwe Cricket                       6 July 1992