<a href="https://colab.research.google.com/github/bharathArunachalam/Web_Scrapping/blob/main/Notebook_WebScrapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Practice 1: Web scrapping stock information

Objective: Scrape the following information from 'https://www.moneycontrol.com/'

Build the table below for 6 companies:

['Rail Vikas', 'TCS', 'Indigo Paints', 'IOC', 'PVR', 'Reliance']

|Name| Date | Time| Closing_price| Change_in_value| Percent_change|

In [13]:
import requests

url_1 = 'https://www.moneycontrol.com/india/stockpricequote/'
# this page contains links to all the stocks in Indian market.
response = requests.get(url_1)
response

In [14]:
response_str_1 = response.text

In [15]:
from bs4 import BeautifulSoup
import lxml

soup_1 = BeautifulSoup(response_str_1, 'lxml')

#BeautifulSoup object is ready

In [16]:
link_compilation = soup_1.find('div', {'class': 'PT15'}).table.find_all('a')

company_names = ['Rail Vikas', 'TCS', 'Indigo Paints', 'IOC', 'PVR', 'Reliance']
#the list of companies we need to track data on. Add company name to this list to see the value in the data frame below.

company_links = []

for link in link_compilation:
    for name in company_names:
        if name in link:
            company_links.append(link.get('href'))
# list of company links we are tracking.

company_links

['https://www.moneycontrol.com/india/stockpricequote/paints/indigopaints/IP08',
 'https://www.moneycontrol.com/india/stockpricequote/refineries/indianoilcorporation/IOC',
 'https://www.moneycontrol.com/india/stockpricequote/mediaentertainment/pvr/PVR',
 'https://www.moneycontrol.com/india/stockpricequote/miscellaneous/railvikasnigam/RVN',
 'https://www.moneycontrol.com/india/stockpricequote/refineries/relianceindustries/RI',
 'https://www.moneycontrol.com/india/stockpricequote/computerssoftware/tataconsultancyservices/TCS']

In [17]:
# response_1  = requests.get(company_links[4])
# response_1

In [18]:

# response_1_str = response_1.text

In [19]:
# soup_1 = BeautifulSoup(response_1_str, 'lxml')
# company_name = soup_1.find('div', {'class':'indices_namntab clearfix'}).find('div', {'class':'inid_name'}).h1.text
# #company_name

# time = soup_1.find('div', {'class':'indimprice'}).find('p', {'class': 'nseasondate'}).text[-5:]
# #time

# date = soup_1.find('div', {'class':'indimprice'}).find('p', {'class': 'nseasondate'}).text[-20:-8]
# #date

# price_percent = soup_1.find('div', {'class': 'indimprice'}).find('div',{'class': 'nsechange'}).text
# price_percent_list = price_percent.split(' ')

# price_change = price_percent_list[0]
# percent_change = price_percent_list[1].replace('(', '').replace(')', ''). replace('%', '')

# #price_change
# #percent_change

# closing_price = soup_1.find('div', {'class': 'inprice1 nsecp'}).get('rel')
# #closing_price

# print(company_name, time, date, price_change, percent_change, closing_price)

In [20]:
from datetime import datetime

In [21]:
# build a function for the above cell:
def stock_data_extraction(link):
    
    response_str_1 = requests.get(link).text
    soup_1 = BeautifulSoup(response_str_1, 'lxml')

    date = soup_1.find('div', {'class':'indimprice'}).find('p', {'class': 'nseasondate'}).text[-20:-8]
    #date =
    day = date[0:2]
    month = date[3:6].lower()
    year = date[-4:]
    date_format = day + ' ' + month + ' ' + year
    date_format_2 = date_format.replace(' ', '/')
    """formatting the date. We received it as '25 Feb, 2022', We need it as '25/feb/2022' """
    
    price_percent = soup_1.find('div', {'class': 'indimprice'}).find('div',{'class': 'nsechange'}).text
    price_percent_list = price_percent.split(' ')
    """formatting the price_percent.We received it as '(-0.24)', We need it as '-0.24' """
    
    stock_dict = {
                  'company_name' : soup_1.find('div', {'class':'indices_namntab clearfix'}).find('div', {'class':'inid_name'}).h1.text,
                  'date' : date_format_2,
                  'time' : soup_1.find('div', {'class':'indimprice'}).find('p', {'class': 'nseasondate'}).text[-5:],
                  'closing_price' : float(soup_1.find('div', {'class': 'inprice1 nsecp'}).get('rel')),
                  'price_change' : float(price_percent_list[0]),
                  'percent_change' : float(price_percent_list[1].replace('(', '').replace(')', ''). replace('%', '')),
                  }
    
    return stock_dict

stock_data_extraction(company_links[1])

{'closing_price': 120.95,
 'company_name': 'Indian Oil Corporation Ltd.',
 'date': '10/mar/2022',
 'percent_change': 3.42,
 'price_change': 4.0,
 'time': '03:59'}

In [22]:
#checking response stat of individual links

stock_data_list = []

for link in company_links:
    stock_data_list.append(stock_data_extraction(link))

print(stock_data_list)

[{'company_name': 'Indigo Paints Ltd.', 'date': '10/mar/2022', 'time': '03:59', 'closing_price': 1647.7, 'price_change': 115.85, 'percent_change': 7.56}, {'company_name': 'Indian Oil Corporation Ltd.', 'date': '10/mar/2022', 'time': '03:59', 'closing_price': 120.95, 'price_change': 4.0, 'percent_change': 3.42}, {'company_name': 'PVR Ltd.', 'date': '10/mar/2022', 'time': '03:52', 'closing_price': 1673.85, 'price_change': 28.6, 'percent_change': 1.74}, {'company_name': 'Rail Vikas Nigam Ltd.', 'date': '10/mar/2022', 'time': '03:59', 'closing_price': 32.6, 'price_change': 0.6, 'percent_change': 1.88}, {'company_name': 'Reliance Industries Ltd.', 'date': '10/mar/2022', 'time': '03:59', 'closing_price': 2392.25, 'price_change': 38.15, 'percent_change': 1.62}, {'company_name': 'Tata Consultancy Services Ltd.', 'date': '10/mar/2022', 'time': '03:59', 'closing_price': 3620.95, 'price_change': -11.65, 'percent_change': -0.32}]

In [23]:
import pandas as pd

stock_data_df = pd.DataFrame(stock_data_list)  
stock_data_df

,company_name,date,time,closing_price,price_change,percent_change
0,Indigo Paints Ltd.,10/mar/2022,03:59,1647.70,115.85,7.56
1,Indian Oil Corporation Ltd.,10/mar/2022,03:59,120.95,4.00,3.42
2,PVR Ltd.,10/mar/2022,03:52,1673.85,28.60,1.74
3,Rail Vikas Nigam Ltd.,10/mar/2022,03:59,32.60,0.60,1.88
4,Reliance Industries Ltd.,10/mar/2022,03:59,2392.25,38.15,1.62
5,Tata Consultancy Services Ltd.,10/mar/2022,03:59,3620.95,-11.65,-0.32

In [24]:
import json
with open('stock_data_1.json', 'w') as a:
    json.dump(stock_data_list, a)

# converting the list of dictionaries as .json file

# Practice 2: Web scrapping f1 calender 2022

Objective: Scrape the following information from 'https://www.formula1.com'

Build the table below for all the races:

| Country | gp| Race Weekend (from)| Race Weekend (to)|

In [25]:
import requests
url_2 = 'https://www.formula1.com'

response_2 = requests.get(url_2)
response_2

In [26]:
response_str_2 = response_2.text

In [27]:
#response_str_2

In [28]:
from bs4 import BeautifulSoup
import lxml

soup_2 = BeautifulSoup(response_str_2, 'lxml')
#soup_2

In [29]:
race_list = soup_2.find('div',{'class':'race-list'}).find_all('article')
#race_list
#the node below which all data is available.

In [30]:
country_names = []
for item in race_list:
    country_names.append(item.find('span', {'class':'name'}).text)

In [31]:
gp_names = []
for gp in race_list:
    gp_names.append(gp.find('h3').a.text)

In [32]:
from_race_dates = []
for date in race_list:
    from_race_dates.append( date.find('time', {'class': 'from date-full'}).text.strip())

to_race_dates = []
for date in race_list:
    to_race_dates.append( date.find('time', {'class': 'to date-full'}).text.strip())

In [33]:
import pandas as pd
pd.set_option('display.max_colwidth', 1)

race_schedule_data = {'country': country_names, 'gp': gp_names, 'from': from_race_dates,'to': to_race_dates}

index= []
for i in range (1, len(country_names)+1):
    index.append(i)

f1_schedule_df = pd.DataFrame(race_schedule_data, index= index)
f1_schedule_df

,country,gp,from,to
1,Bahrain,FORMULA 1 GULF AIR BAHRAIN GRAND PRIX 2022,18 Mar 2022,20 Mar 2022
2,Saudi Arabia,FORMULA 1 STC SAUDI ARABIAN GRAND PRIX 2022,25 Mar 2022,27 Mar 2022
3,Australia,FORMULA 1 HEINEKEN AUSTRALIAN GRAND PRIX 2022,08 Apr 2022,10 Apr 2022
4,Italy,FORMULA 1 ROLEX GRAN PREMIO DELL'EMILIA ROMAGNA 2022,22 Apr 2022,24 Apr 2022
5,United States,FORMULA 1 CRYPTO.COM MIAMI GRAND PRIX 2022,06 May 2022,08 May 2022
6,Spain,FORMULA 1 PIRELLI GRAN PREMIO DE ESPAÃA 2022,20 May 2022,22 May 2022
7,Monaco,FORMULA 1 GRAND PRIX DE MONACO 2022,27 May 2022,29 May 2022
8,Azerbaijan,FORMULA 1 AZERBAIJAN GRAND PRIX 2022,10 Jun 2022,12 Jun 2022
9,Canada,FORMULA 1 GRAND PRIX DU CANADA 2022,17 Jun 2022,19 Jun 2022
10,Great Britain,FORMULA 1 BRITISH GRAND PRIX 2022,01 Jul 2022,03 Jul 2022
11,Austria,FORMULA 1 GROSSER PREIS VON ÃSTERREICH 2022,08 Jul 2022,10 Jul 2022
12,France,FORMULA 1 GRAND PRIX DE FRANCE 2022,22 Jul 2022,24 Jul 2022
13,Hungary,FORMULA 1 MAGYAR NAGYDÃJ 2022,29 Jul 2022,31 Jul 2022
14,Belgium,FORMULA 1 ROLEX BELGIAN GRAND PRIX 2022,26 Aug 2022,28 Aug 2022
15,Netherlands,FORMULA 1 HEINEKEN DUTCH GRAND PRIX 2022,02 Sep 2022,04 Sep 2022
16,Italy,FORMULA 1 PIRELLI GRAN PREMIO DâITALIA 2022,09 Sep 2022,11 Sep 2022
17,Singapore,FORMULA 1 SINGAPORE GRAND PRIX 2022,30 Sep 2022,02 Oct 2022
18,Japan,FORMULA 1 JAPANESE GRAND PRIX 2022,07 Oct 2022,09 Oct 2022
19,United States,FORMULA 1 ARAMCO UNITED STATES GRAND PRIX 2022,21 Oct 2022,23 Oct 2022
20,Mexico,FORMULA 1 GRAN PREMIO DE LA CIUDAD DE MÃXICO 2022,28 Oct 2022,30 Oct 2022
21,Brazil,FORMULA 1 HEINEKEN GRANDE PRÃMIO DE SÃO PAULO 2022,11 Nov 2022,13 Nov 2022
22,Abu Dhabi,FORMULA 1 ETIHAD AIRWAYS ABU DHABI GRAND PRIX 2022,18 Nov 2022,20 Nov 2022

In [34]:
f1_schedule_df.to_excel("f1_schedule_2022.xlsx")
#saving to excel

# Practice 3: Web scrapping of points premier leauge table

Objective: Scrape the following information from 'https://www.premierleague.com/'

Build the table below for all the races:

|position| club | played| won| drawn| lost| GF| GA| GD| points|

In [35]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [36]:
url = 'https://www.premierleague.com/tables'
response_3 = requests.get(url)
response_3

In [37]:
response_3_str = response_3.text
#response_3_str

In [38]:
soup_3 = BeautifulSoup(response_3_str, 'lxml')
#soup_3

In [39]:
len(soup_3.find_all('table'))

4

In [40]:
table = soup_3.find('table')
#table

In [41]:
#creating column names:

column_list = ['rank', 'club', 'played', 'won', 'drawn', 'lost', 'GF', 'GA', 'GD', 'points']

In [42]:
# Converting each row of the table into a list item

trs = table.find('tbody').find_all('tr')
# print(trs[0])
all_trs_list = []
for tr in trs:
    x = tr.find_all('td')[1:11]
    if len(x) != 0:
        all_trs_list.append(x)
print(len(all_trs_list))

20

In [44]:
# extacting information from each cell of the row
a = []
for td in all_trs_list:

    dictionary = {
                    'rank' : td[0].find('span', {'class': 'value'}).text,
                    'club' : td[1].find('span', {'class': 'long'}).text,
                    'played' : td[2].text,
                    'won' : td[3].text,
                    'drawn' : td[4].text,
                    'lost' : td[5].text,
                    'gf' : td[6].text,
                    'ga': td[7].text,
                    'gd' : td[8].text.strip(),
                    'points' : td[9].text
                }
    a.append(dictionary)
print(a)

[{'rank': '1', 'club': 'Manchester City', 'played': '28', 'won': '22', 'drawn': '3', 'lost': '3', 'gf': '68', 'ga': '18', 'gd': '+50', 'points': '69'}, {'rank': '2', 'club': 'Liverpool', 'played': '27', 'won': '19', 'drawn': '6', 'lost': '2', 'gf': '71', 'ga': '20', 'gd': '+51', 'points': '63'}, {'rank': '3', 'club': 'Chelsea', 'played': '26', 'won': '15', 'drawn': '8', 'lost': '3', 'gf': '53', 'ga': '18', 'gd': '+35', 'points': '53'}, {'rank': '4', 'club': 'Arsenal', 'played': '25', 'won': '15', 'drawn': '3', 'lost': '7', 'gf': '41', 'ga': '29', 'gd': '+12', 'points': '48'}, {'rank': '5', 'club': 'Manchester United', 'played': '28', 'won': '13', 'drawn': '8', 'lost': '7', 'gf': '45', 'ga': '38', 'gd': '+7', 'points': '47'}, {'rank': '6', 'club': 'West Ham United', 'played': '28', 'won': '13', 'drawn': '6', 'lost': '9', 'gf': '46', 'ga': '35', 'gd': '+11', 'points': '45'}, {'rank': '7', 'club': 'Tottenham Hotspur', 'played': '26', 'won': '14', 'drawn': '3', 'lost': '9', 'gf': '40', 'ga': '32', 'gd': '+8', 'points': '45'}, {'rank': '8', 'club': 'Wolverhampton Wanderers', 'played': '27', 'won': '12', 'drawn': '4', 'lost': '11', 'gf': '24', 'ga': '23', 'gd': '+1', 'points': '40'}, {'rank': '9', 'club': 'Southampton', 'played': '27', 'won': '8', 'drawn': '11', 'lost': '8', 'gf': '34', 'ga': '41', 'gd': '-7', 'points': '35'}, {'rank': '10', 'club': 'Crystal Palace', 'played': '28', 'won': '7', 'drawn': '12', 'lost': '9', 'gf': '39', 'ga': '38', 'gd': '+1', 'points': '33'}, {'rank': '11', 'club': 'Aston Villa', 'played': '26', 'won': '10', 'drawn': '3', 'lost': '13', 'gf': '37', 'ga': '37', 'gd': '0', 'points': '33'}, {'rank': '12', 'club': 'Leicester City', 'played': '25', 'won': '9', 'drawn': '6', 'lost': '10', 'gf': '40', 'ga': '43', 'gd': '-3', 'points': '33'}, {'rank': '13', 'club': 'Brighton and Hove Albion', 'played': '27', 'won': '7', 'drawn': '12', 'lost': '8', 'gf': '26', 'ga': '32', 'gd': '-6', 'points': '33'}, {'rank': '14', 'club': 'Newcastle United', 'played': '26', 'won': '6', 'drawn': '10', 'lost': '10', 'gf': '30', 'ga': '46', 'gd': '-16', 'points': '28'}, {'rank': '15', 'club': 'Brentford', 'played': '28', 'won': '7', 'drawn': '6', 'lost': '15', 'gf': '30', 'ga': '45', 'gd': '-15', 'points': '27'}, {'rank': '16', 'club': 'Leeds United', 'played': '27', 'won': '5', 'drawn': '8', 'lost': '14', 'gf': '29', 'ga': '61', 'gd': '-32', 'points': '23'}, {'rank': '17', 'club': 'Everton', 'played': '25', 'won': '6', 'drawn': '4', 'lost': '15', 'gf': '28', 'ga': '46', 'gd': '-18', 'points': '22'}, {'rank': '18', 'club': 'Burnley', 'played': '26', 'won': '3', 'drawn': '12', 'lost': '11', 'gf': '22', 'ga': '36', 'gd': '-14', 'points': '21'}, {'rank': '19', 'club': 'Watford', 'played': '27', 'won': '5', 'drawn': '4', 'lost': '18', 'gf': '27', 'ga': '50', 'gd': '-23', 'points': '19'}, {'rank': '20', 'club': 'Norwich City', 'played': '27', 'won': '4', 'drawn': '5', 'lost': '18', 'gf': '16', 'ga': '58', 'gd': '-42', 'points': '17'}]

In [45]:
pd.DataFrame(a)

   rank                      club played won drawn lost  gf  ga   gd points
0   1    Manchester City           28     22  3     3    68  18  +50  69
1   2    Liverpool                 27     19  6     2    71  20  +51  63
2   3    Chelsea                   26     15  8     3    53  18  +35  53
3   4    Arsenal                   25     15  3     7    41  29  +12  48
4   5    Manchester United         28     13  8     7    45  38  +7   47
5   6    West Ham United           28     13  6     9    46  35  +11  45
6   7    Tottenham Hotspur         26     14  3     9    40  32  +8   45
7   8    Wolverhampton Wanderers   27     12  4     11   24  23  +1   40
8   9    Southampton               27     8   11    8    34  41  -7   35
9   10   Crystal Palace            28     7   12    9    39  38  +1   33
10  11   Aston Villa               26     10  3     13   37  37  0    33
11  12   Leicester City            25     9   6     10   40  43  -3   33
12  13   Brighton and Hove Albion  27     7   12    8    26  32  -6   33
13  14   Newcastle United          26     6   10    10   30  46  -16  28
14  15   Brentford                 28     7   6     15   30  45  -15  27
15  16   Leeds United              27     5   8     14   29  61  -32  23
16  17   Everton                   25     6   4     15   28  46  -18  22
17  18   Burnley                   26     3   12    11   22  36  -14  21
18  19   Watford                   27     5   4     18   27  50  -23  19
19  20   Norwich City              27     4   5     18   16  58  -42  17

# Practice 4:Scrape the table from wikipidea

In [49]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [50]:
url = 'https://en.wikipedia.org/wiki/Cricket'
response_4 = requests.get(url)
response_4

In [51]:
soup = BeautifulSoup(response_4.text, 'lxml')
soup.title

Locating the table we need to scrape

In [52]:
len(soup.find_all('table'))

28

In [53]:
len(soup.find('table', {'class': 'wikitable sortable'}))

2

In [54]:
table = soup.find_all('table', {'class': 'wikitable sortable'})[0]

Creating the column list - contains the names of the columns

In [55]:
column_list_4 = ['team', 'governing_body', 'member_since']

In [56]:
table_all_rows = table.tbody.find_all('tr')[1:]
table_all_rows[0]

<tr>
<th scope="row"><a href="/wiki/Afghanistan" title="Afghanistan">Afghanistan</a>
</th>
<td><a href="/wiki/Afghanistan_Cricket_Board" title="Afghanistan Cricket Board">Afghanistan Cricket Board</a>
</td>
<td>22 June 2017
</td></tr>

In [57]:
team = table_all_rows[0].th.text.strip()

td = table_all_rows[0].find_all('td')
governing_body = td[0].text.strip()
member_since = td[1].text.strip()

In [58]:
value_list = []
for row in table_all_rows:
    td = row.find_all('td') 
    dic_4 = {
            'team' : row.th.text.strip(), 
            'governing_body' : td[0].text.strip() , 
            'member_since' : td[1].text.strip()
            }
    value_list.append(dic_4)
value_list

[{'governing_body': 'Afghanistan Cricket Board',
  'member_since': '22 June 2017',
  'team': 'Afghanistan'},
 {'governing_body': 'Cricket Australia',
  'member_since': '15 July 1909',
  'team': 'Australia'},
 {'governing_body': 'Bangladesh Cricket Board',
  'member_since': '26 June 2000',
  'team': 'Bangladesh'},
 {'governing_body': 'England and Wales Cricket Board',
  'member_since': '15 July 1909',
  'team': 'England'},
 {'governing_body': 'Board of Control for Cricket in India',
  'member_since': '31 May 1926',
  'team': 'India'},
 {'governing_body': 'Cricket Ireland',
  'member_since': '22 June 2017',
  'team': 'Ireland'},
 {'governing_body': 'New Zealand Cricket',
  'member_since': '31 May 1926',
  'team': 'New Zealand'},
 {'governing_body': 'Pakistan Cricket Board',
  'member_since': '28 July 1952',
  'team': 'Pakistan'},
 {'governing_body': 'Cricket South Africa',
  'member_since': '15 July 1909',
  'team': 'South Africa'},
 {'governing_body': 'Sri Lanka Cricket',
  'member_since': '21 July 1981',
  'team': 'Sri Lanka'},
 {'governing_body': 'Cricket West Indies',
  'member_since': '31 May 1926',
  'team': 'West Indies'},
 {'governing_body': 'Zimbabwe Cricket',
  'member_since': '6 July 1992',
  'team': 'Zimbabwe'}]

In [59]:
df_4 = pd.DataFrame(value_list)

In [60]:
df_4

            team                         governing_body  member_since
0   Afghanistan   Afghanistan Cricket Board              22 June 2017
1   Australia     Cricket Australia                      15 July 1909
2   Bangladesh    Bangladesh Cricket Board               26 June 2000
3   England       England and Wales Cricket Board        15 July 1909
4   India         Board of Control for Cricket in India  31 May 1926
5   Ireland       Cricket Ireland                        22 June 2017
6   New Zealand   New Zealand Cricket                    31 May 1926
7   Pakistan      Pakistan Cricket Board                 28 July 1952
8   South Africa  Cricket South Africa                   15 July 1909
9   Sri Lanka     Sri Lanka Cricket                      21 July 1981
10  West Indies   Cricket West Indies                    31 May 1926
11  Zimbabwe      Zimbabwe Cricket                       6 July 1992

# Practice 5: Scrape the table of planets, diameter and average distance from the Sun

In [61]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [62]:
url = 'https://en.wikipedia.org/wiki/Solar_System'
response_5 = requests.get(url)
response_5

In [63]:
response_5_str = response_5.text

In [64]:
soup_5 = BeautifulSoup(response_5_str)
soup_5.title

In [65]:
#locate the table
len(soup_5.find_all('table'))

21

In [66]:
len(soup_5.find_all('table', {'class': 'wikitable sortable'}))

1

In [67]:
table_5 = soup_5.find('table', {'class': 'wikitable sortable'})

In [68]:
#table_5

In [69]:
#extracting column names
column_list = []
column_list_raw = table_5.find_all('th')[:3]
for column_name in column_list_raw:
    column_list.append(column_name.text.strip())

column_list

['Body', 'Diameter (km)', 'Average distance from the sun (km)']

In [70]:
#extracting 1st row
all_rows = table_5.tbody.find_all('tr')[1:]
all_rows[0]

<tr style="text-align:right">
<th>Sun
</th>
<td>1,391,000</td>
<td>0
</td></tr>

In [71]:
def extract_rows(r):

    dict_5 = {
                'body' : r.th.text.strip(),
                'diameter' : r.find_all('td')[0].text.strip(),
                'average_dist' : r.find_all('td')[1].text.strip()
            }
    return dict_5

In [72]:
list_dicts = []
for row in all_rows:
    list_dicts.append(extract_rows(row))
list_dicts

[{'average_dist': '0', 'body': 'Sun', 'diameter': '1,391,000'},
 {'average_dist': '57,910,000', 'body': 'Mercury', 'diameter': '4,880'},
 {'average_dist': '108,200,000', 'body': 'Venus', 'diameter': '12,104'},
 {'average_dist': '149,600,000', 'body': 'Earth', 'diameter': '12,756'},
 {'average_dist': '227,940,000', 'body': 'Mars', 'diameter': '6,794'},
 {'average_dist': '778,330,000', 'body': 'Jupiter', 'diameter': '142,984'},
 {'average_dist': '1,429,400,000', 'body': 'Saturn', 'diameter': '120,536'},
 {'average_dist': '2,870,990,000', 'body': 'Uranus', 'diameter': '51,118'},
 {'average_dist': '4,504,000,000', 'body': 'Neptune', 'diameter': '49,532'}]

In [73]:
pd.DataFrame(list_dicts)

      body   diameter   average_dist
0  Sun      1,391,000  0
1  Mercury  4,880      57,910,000
2  Venus    12,104     108,200,000
3  Earth    12,756     149,600,000
4  Mars     6,794      227,940,000
5  Jupiter  142,984    778,330,000
6  Saturn   120,536    1,429,400,000
7  Uranus   51,118     2,870,990,000
8  Neptune  49,532     4,504,000,000

# Practice 6: Scrape this table (Complex-1)

In [74]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [75]:
pd.set_option('max_colwidth', 6000)

In [76]:
url = 'https://en.wikipedia.org/wiki/Year'
response_6 = requests.get(url)
response_6

In [77]:
response_6_str = response_6.text
#response_6_str

In [78]:
soup_6 = BeautifulSoup(response_6_str, 'lxml')
soup_6.title

In [79]:
len(soup_6.find_all('table'))

12

In [80]:
len(soup_6.find_all('table', {'class': 'wikitable'}))

4

In [81]:
table_6 = soup_6.find_all('table', {'class': 'wikitable'})[3]

In [82]:
#extracting column names
column_list_6 = []
for column_name in table_6.tr.find_all('th'):
    column_list_6.append(column_name.text.strip())

print(column_list_6)

['Non-SI abbreviation', 'Short for...', 'SI-prefixed equivalent', 'Comments and examples']

In [83]:
# extracting row values
rows = table_6.tbody.find_all('tr')[1:]
def row_values(r):
    dict_6 = {
                'Non-SI abbreviation' : r.find_all('td')[0].text.strip()  ,
                'Short for...' : r.find_all('td')[1].text.strip(),
                'SI-prefixed equivalent' : r.find_all('td')[2].text.strip().replace('\n', ',') ,
                'Comments and examples' : r.find_all('td')[3].text.strip().replace('\n', ',')
            }
    return dict_6

list_dict_6 = []            
for row in rows:
    list_dict_6.append(row_values(row))

print(list_dict_6)

pd.DataFrame(list_dict_6)

[{'Non-SI abbreviation': 'kyr', 'Short for...': 'kilo years', 'SI-prefixed equivalent': 'ka', 'Comments and examples': 'Thousand years'}, {'Non-SI abbreviation': 'myrMyr', 'Short for...': 'million yearsMega years', 'SI-prefixed equivalent': 'Ma', 'Comments and examples': 'Million years'}, {'Non-SI abbreviation': 'byr', 'Short for...': 'billion years', 'SI-prefixed equivalent': 'Ga', 'Comments and examples': 'Billion years (thousand million years)'}, {'Non-SI abbreviation': 'kya', 'Short for...': 'kilo years ago', 'SI-prefixed equivalent': 'ka ago', 'Comments and examples': 'Appearance of Homo sapiens, circa 200 kya,Out-of-Africa migration, circa 60 kya,Last Glacial Maximum, circa 20 kya,Neolithic Revolution, circa 10 kya'}, {'Non-SI abbreviation': 'myaMya', 'Short for...': 'million years agoMega years ago', 'SI-prefixed equivalent': 'Ma ago', 'Comments and examples': 'Pliocene, 5.3 to 2.6 mya,The last geomagnetic reversal was 0.78 mya[30],The (Eemian Stage) Ice Age started 0.13 mya,The Holocene started 0.01 mya'}, {'Non-SI abbreviation': 'byaGya', 'Short for...': 'billion years agogiga years ago', 'SI-prefixed equivalent': 'Ga ago', 'Comments and examples': 'oldest Eukaryotes, 2 bya,formation of the Earth, 4.5 bya,Big Bang, 13.8 bya'}]

,Non-SI abbreviation,Short for...,SI-prefixed equivalent,Comments and examples
0,kyr,kilo years,ka,Thousand years
1,myrMyr,million yearsMega years,Ma,Million years
2,byr,billion years,Ga,Billion years (thousand million years)
3,kya,kilo years ago,ka ago,"Appearance of Homo sapiens, circa 200 kya,Out-of-Africa migration, circa 60 kya,Last Glacial Maximum, circa 20 kya,Neolithic Revolution, circa 10 kya"
4,myaMya,million years agoMega years ago,Ma ago,"Pliocene, 5.3 to 2.6 mya,The last geomagnetic reversal was 0.78 mya[30],The (Eemian Stage) Ice Age started 0.13 mya,The Holocene started 0.01 mya"
5,byaGya,billion years agogiga years ago,Ga ago,"oldest Eukaryotes, 2 bya,formation of the Earth, 4.5 bya,Big Bang, 13.8 bya"

In [84]:
import requests

url = "https://www.fifa.com/api/ranking-overview?locale=en&dateId=id13554"

payload={}
headers = {
  'authority': 'www.fifa.com',
  'sec-ch-ua': '" Not A;Brand";v="99", "Chromium";v="99", "Google Chrome";v="99"',
  'accept': 'application/json, text/plain, */*',
  'traceparent': '00-4d0ccc5884a7464c92d81b4faf094ab5-371eb54f2adb4af2-01',
  'request-id': '|4d0ccc5884a7464c92d81b4faf094ab5.371eb54f2adb4af2',
  'sec-ch-ua-mobile': '?0',
  'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/99.0.4844.51 Safari/537.36',
  'sec-ch-ua-platform': '"Windows"',
  'sec-fetch-site': 'same-origin',
  'sec-fetch-mode': 'cors',
  'sec-fetch-dest': 'empty',
  'referer': 'https://www.fifa.com/fifa-world-ranking/men?dateId=id13554',
  'accept-language': 'en-GB,en-US;q=0.9,en;q=0.8',
  'cookie': 'ai_user=G29HNLMykmZ0kLR2XYTOce|2022-03-05T07:04:00.899Z; OptanonAlertBoxClosed=2022-03-05T07:04:19.663Z; o_ot_persist=%2C1%2C2%2C4%2C3%2C; _cc_id=6549280b000aa679822527b4c4c72c84; TEAL=v:517f58e4aa5062762115357042267597265386a3bb8$t:1646468360794$sn:2$en:9$s:1646466073845%3Bexp-sess; ai_session=NE1dTwwMN5u6LPSU6ccn/0|1646463844326|1646467312097; OptanonConsent=isGpcEnabled=0&datestamp=Sat+Mar+05+2022+13%3A31%3A56+GMT%2B0530+(India+Standard+Time)&version=6.19.0&isIABGlobal=false&hosts=&consentId=9890b194-e726-4053-82bf-03fee5417517&interactionCount=1&landingPath=NotLandingPage&groups=1%3A1%2C2%3A1%2C4%3A1%2C3%3A1&geolocation=IN%3BKA&AwaitingReconsent=false; o_ic_persist=; o_ec_persist=; o_sc_persist=; panoramaId_expiry=1646553730023; AMCVS_2F2827E253DAF0E10A490D4E%40AdobeOrg=1; AMCV_2F2827E253DAF0E10A490D4E%40AdobeOrg=-2121179033%7CMCIDTS%7C19057%7CMCMID%7C11411682502965704482823397432966241190%7CMCAAMLH-1647072133%7C12%7CMCAAMB-1647072133%7CRKhpRz8krg2tLO6pguXWp5olkAcUniQYPHaMWWgdJ3xzPWQmdj0y%7CMCOPTOUT-1646474533s%7CNONE%7CvVersion%7C5.3.0; s_cc=true'
}

response = requests.request("GET", url, headers=headers, data=payload)

print(response.text)

{"rankings":[{"rankingItem":{"rank":1,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/BEL","width":70,"height":46,"title":"Belgium","alt":"Belgium"},"name":"Belgium","totalPoints":1828.45,"active":false,"previousRank":1,"countryURL":"/fifa-world-ranking/BEL","countryCode":"BEL"},"previousPoints":1828.45,"tag":{"id":"UEFA","text":"UEFA"}},{"rankingItem":{"rank":2,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/BRA","width":70,"height":46,"title":"Brazil","alt":"Brazil"},"name":"Brazil","totalPoints":1823.42,"active":false,"previousRank":2,"countryURL":"/fifa-world-ranking/BRA","countryCode":"BRA"},"previousPoints":1826.35,"tag":{"id":"CONMEBOL","text":"CONMEBOL"}},{"rankingItem":{"rank":3,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/FRA","width":70,"height":46,"title":"France","alt":"France"},"name":"France","totalPoints":1786.15,"active":false,"previousRank":3,"countryURL":"/fifa-world-ranking/FRA","countryCode":"FRA"},"previousPoints":1786.15,"tag":{"id":"UEFA","text":"UEFA"}},{"rankingItem":{"rank":4,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/ARG","width":70,"height":46,"title":"Argentina","alt":"Argentina"},"name":"Argentina","totalPoints":1766.99,"active":false,"previousRank":5,"countryURL":"/fifa-world-ranking/ARG","countryCode":"ARG"},"previousPoints":1750.51,"tag":{"id":"CONMEBOL","text":"CONMEBOL"}},{"rankingItem":{"rank":5,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/ENG","width":70,"height":46,"title":"England","alt":"England"},"name":"England","totalPoints":1755.52,"active":false,"previousRank":4,"countryURL":"/fifa-world-ranking/ENG","countryCode":"ENG"},"previousPoints":1755.52,"tag":{"id":"UEFA","text":"UEFA"}},{"rankingItem":{"rank":6,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/ITA","width":70,"height":46,"title":"Italy","alt":"Italy"},"name":"Italy","totalPoints":1740.77,"active":false,"previousRank":6,"countryURL":"/fifa-world-ranking/ITA","countryCode":"ITA"},"previousPoints":1740.77,"tag":{"id":"UEFA","text":"UEFA"}},{"rankingItem":{"rank":7,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/ESP","width":70,"height":46,"title":"Spain","alt":"Spain"},"name":"Spain","totalPoints":1704.75,"active":false,"previousRank":7,"countryURL":"/fifa-world-ranking/ESP","countryCode":"ESP"},"previousPoints":1704.75,"tag":{"id":"UEFA","text":"UEFA"}},{"rankingItem":{"rank":8,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/POR","width":70,"height":46,"title":"Portugal","alt":"Portugal"},"name":"Portugal","totalPoints":1660.25,"active":false,"previousRank":8,"countryURL":"/fifa-world-ranking/POR","countryCode":"POR"},"previousPoints":1660.25,"tag":{"id":"UEFA","text":"UEFA"}},{"rankingItem":{"rank":9,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/DEN","width":70,"height":46,"title":"Denmark","alt":"Denmark"},"name":"Denmark","totalPoints":1654.54,"active":false,"previousRank":9,"countryURL":"/fifa-world-ranking/DEN","countryCode":"DEN"},"previousPoints":1654.54,"tag":{"id":"UEFA","text":"UEFA"}},{"rankingItem":{"rank":10,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/NED","width":70,"height":46,"title":"Netherlands","alt":"Netherlands"},"name":"Netherlands","totalPoints":1653.73,"active":false,"previousRank":10,"countryURL":"/fifa-world-ranking/NED","countryCode":"NED"},"previousPoints":1653.73,"tag":{"id":"UEFA","text":"UEFA"}},{"rankingItem":{"rank":11,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/GER","width":70,"height":46,"title":"Germany","alt":"Germany"},"name":"Germany","totalPoints":1648.33,"active":false,"previousRank":12,"countryURL":"/fifa-world-ranking/GER","countryCode":"GER"},"previousPoints":1648.33,"tag":{"id":"UEFA","text":"UEFA"}},{"rankingItem":{"rank":12,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/MEX","width":70,"height":46,"title":"Mexico","alt":"Mexico"},"name":"Mexico","totalPoints":1647.9,"active":false,"previousRank":14,"countryURL":"/fifa-world-ranking/MEX","countryCode":"MEX"},"previousPoints":1638.3,"tag":{"id":"CONCACAF","text":"CONCACAF"}},{"rankingItem":{"rank":13,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/USA","width":70,"height":46,"title":"USA","alt":"USA"},"name":"USA","totalPoints":1643.34,"active":false,"previousRank":11,"countryURL":"/fifa-world-ranking/USA","countryCode":"USA"},"previousPoints":1648.51,"tag":{"id":"CONCACAF","text":"CONCACAF"}},{"rankingItem":{"rank":14,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/SUI","width":70,"height":46,"title":"Switzerland","alt":"Switzerland"},"name":"Switzerland","totalPoints":1642.83,"active":false,"previousRank":13,"countryURL":"/fifa-world-ranking/SUI","countryCode":"SUI"},"previousPoints":1642.83,"tag":{"id":"UEFA","text":"UEFA"}},{"rankingItem":{"rank":15,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/CRO","width":70,"height":46,"title":"Croatia","alt":"Croatia"},"name":"Croatia","totalPoints":1620.74,"active":false,"previousRank":15,"countryURL":"/fifa-world-ranking/CRO","countryCode":"CRO"},"previousPoints":1620.74,"tag":{"id":"UEFA","text":"UEFA"}},{"rankingItem":{"rank":16,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/URU","width":70,"height":46,"title":"Uruguay","alt":"Uruguay"},"name":"Uruguay","totalPoints":1614.05,"active":false,"previousRank":17,"countryURL":"/fifa-world-ranking/URU","countryCode":"URU"},"previousPoints":1596.66,"tag":{"id":"CONMEBOL","text":"CONMEBOL"}},{"rankingItem":{"rank":17,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/SWE","width":70,"height":46,"title":"Sweden","alt":"Sweden"},"name":"Sweden","totalPoints":1588.26,"active":false,"previousRank":18,"countryURL":"/fifa-world-ranking/SWE","countryCode":"SWE"},"previousPoints":1588.26,"tag":{"id":"UEFA","text":"UEFA"}},{"rankingItem":{"rank":18,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/SEN","width":70,"height":46,"title":"Senegal","alt":"Senegal"},"name":"Senegal","totalPoints":1587.78,"active":false,"previousRank":20,"countryURL":"/fifa-world-ranking/SEN","countryCode":"SEN"},"previousPoints":1561.68,"tag":{"id":"CAF","text":"CAF"}},{"rankingItem":{"rank":19,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/COL","width":70,"height":46,"title":"Colombia","alt":"Colombia"},"name":"Colombia","totalPoints":1585.89,"active":false,"previousRank":16,"countryURL":"/fifa-world-ranking/COL","countryCode":"COL"},"previousPoints":1607.15,"tag":{"id":"CONMEBOL","text":"CONMEBOL"}},{"rankingItem":{"rank":20,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/WAL","width":70,"height":46,"title":"Wales","alt":"Wales"},"name":"Wales","totalPoints":1578.01,"active":false,"previousRank":19,"countryURL":"/fifa-world-ranking/WAL","countryCode":"WAL"},"previousPoints":1578.01,"tag":{"id":"UEFA","text":"UEFA"}},{"rankingItem":{"rank":21,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/IRN","width":70,"height":46,"title":"IR Iran","alt":"IR Iran"},"name":"IR Iran","totalPoints":1572.89,"active":false,"previousRank":21,"countryURL":"/fifa-world-ranking/IRN","countryCode":"IRN"},"previousPoints":1557.58,"tag":{"id":"AFC","text":"AFC"}},{"rankingItem":{"rank":22,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/PER","width":70,"height":46,"title":"Peru","alt":"Peru"},"name":"Peru","totalPoints":1563.45,"active":false,"previousRank":22,"countryURL":"/fifa-world-ranking/PER","countryCode":"PER"},"previousPoints":1551.15,"tag":{"id":"CONMEBOL","text":"CONMEBOL"}},{"rankingItem":{"rank":23,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/JPN","width":70,"height":46,"title":"Japan","alt":"Japan"},"name":"Japan","totalPoints":1549.82,"active":false,"previousRank":26,"countryURL":"/fifa-world-ranking/JPN","countryCode":"JPN"},"previousPoints":1531.53,"tag":{"id":"AFC","text":"AFC"}},{"rankingItem":{"rank":24,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/MAR","width":70,"height":46,"title":"Morocco","alt":"Morocco"},"name":"Morocco","totalPoints":1547.42,"active":false,"previousRank":28,"countryURL":"/fifa-world-ranking/MAR","countryCode":"MAR"},"previousPoints":1529.93,"tag":{"id":"CAF","text":"CAF"}},{"rankingItem":{"rank":25,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/SRB","width":70,"height":46,"title":"Serbia","alt":"Serbia"},"name":"Serbia","totalPoints":1547.38,"active":false,"previousRank":23,"countryURL":"/fifa-world-ranking/SRB","countryCode":"SRB"},"previousPoints":1547.38,"tag":{"id":"UEFA","text":"UEFA"}},{"rankingItem":{"rank":26,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/CHI","width":70,"height":46,"title":"Chile","alt":"Chile"},"name":"Chile","totalPoints":1543.16,"active":false,"previousRank":24,"countryURL":"/fifa-world-ranking/CHI","countryCode":"CHI"},"previousPoints":1543.42,"tag":{"id":"CONMEBOL","text":"CONMEBOL"}},{"rankingItem":{"rank":27,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/UKR","width":70,"height":46,"title":"Ukraine","alt":"Ukraine"},"name":"Ukraine","totalPoints":1535.08,"active":false,"previousRank":25,"countryURL":"/fifa-world-ranking/UKR","countryCode":"UKR"},"previousPoints":1535.08,"tag":{"id":"UEFA","text":"UEFA"}},{"rankingItem":{"rank":28,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/POL","width":70,"height":46,"title":"Poland","alt":"Poland"},"name":"Poland","totalPoints":1530.62,"active":false,"previousRank":27,"countryURL":"/fifa-world-ranking/POL","countryCode":"POL"},"previousPoints":1530.62,"tag":{"id":"UEFA","text":"UEFA"}},{"rankingItem":{"rank":29,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/KOR","width":70,"height":46,"title":"Korea Republic","alt":"Korea Republic"},"name":"Korea Republic","totalPoints":1522.85,"active":false,"previousRank":33,"countryURL":"/fifa-world-ranking/KOR","countryCode":"KOR"},"previousPoints":1507.24,"tag":{"id":"AFC","text":"AFC"}},{"rankingItem":{"rank":30,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/AUT","width":70,"height":46,"title":"Austria","alt":"Austria"},"name":"Austria","totalPoints":1511.56,"active":false,"previousRank":31,"countryURL":"/fifa-world-ranking/AUT","countryCode":"AUT"},"previousPoints":1511.56,"tag":{"id":"UEFA","text":"UEFA"}},{"rankingItem":{"rank":31,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/CZE","width":70,"height":46,"title":"Czech Republic","alt":"Czech Republic"},"name":"Czech Republic","totalPoints":1510.42,"active":false,"previousRank":32,"countryURL":"/fifa-world-ranking/CZE","countryCode":"CZE"},"previousPoints":1510.42,"tag":{"id":"UEFA","text":"UEFA"}},{"rankingItem":{"rank":32,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/NGA","width":70,"height":46,"title":"Nigeria","alt":"Nigeria"},"name":"Nigeria","totalPoints":1509.91,"active":false,"previousRank":36,"countryURL":"/fifa-world-ranking/NGA","countryCode":"NGA"},"previousPoints":1478.78,"tag":{"id":"CAF","text":"CAF"}},{"rankingItem":{"rank":33,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/CAN","width":70,"height":46,"title":"Canada","alt":"Canada"},"name":"Canada","totalPoints":1497.82,"active":false,"previousRank":40,"countryURL":"/fifa-world-ranking/CAN","countryCode":"CAN"},"previousPoints":1462.32,"tag":{"id":"CONCACAF","text":"CONCACAF"}},{"rankingItem":{"rank":34,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/EGY","width":70,"height":46,"title":"Egypt","alt":"Egypt"},"name":"Egypt","totalPoints":1497.05,"active":false,"previousRank":45,"countryURL":"/fifa-world-ranking/EGY","countryCode":"EGY"},"previousPoints":1451.77,"tag":{"id":"CAF","text":"CAF"}},{"rankingItem":{"rank":35,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/RUS","width":70,"height":46,"title":"Russia","alt":"Russia"},"name":"Russia","totalPoints":1493.42,"active":false,"previousRank":34,"countryURL":"/fifa-world-ranking/RUS","countryCode":"RUS"},"previousPoints":1493.42,"tag":{"id":"UEFA","text":"UEFA"}},{"rankingItem":{"rank":36,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/TUN","width":70,"height":46,"title":"Tunisia","alt":"Tunisia"},"name":"Tunisia","totalPoints":1489.92,"active":false,"previousRank":30,"countryURL":"/fifa-world-ranking/TUN","countryCode":"TUN"},"previousPoints":1512.72,"tag":{"id":"CAF","text":"CAF"}},{"rankingItem":{"rank":37,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/AUS","width":70,"height":46,"title":"Australia","alt":"Australia"},"name":"Australia","totalPoints":1486.86,"active":false,"previousRank":35,"countryURL":"/fifa-world-ranking/AUS","countryCode":"AUS"},"previousPoints":1484.88,"tag":{"id":"AFC","text":"AFC"}},{"rankingItem":{"rank":38,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/CMR","width":70,"height":46,"title":"Cameroon","alt":"Cameroon"},"name":"Cameroon","totalPoints":1480.82,"active":false,"previousRank":50,"countryURL":"/fifa-world-ranking/CMR","countryCode":"CMR"},"previousPoints":1437.35,"tag":{"id":"CAF","text":"CAF"}},{"rankingItem":{"rank":39,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/TUR","width":70,"height":46,"title":"Turkey","alt":"Turkey"},"name":"Turkey","totalPoints":1472.72,"active":false,"previousRank":37,"countryURL":"/fifa-world-ranking/TUR","countryCode":"TUR"},"previousPoints":1472.72,"tag":{"id":"UEFA","text":"UEFA"}},{"rankingItem":{"rank":40,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/SCO","width":70,"height":46,"title":"Scotland","alt":"Scotland"},"name":"Scotland","totalPoints":1471.82,"active":false,"previousRank":38,"countryURL":"/fifa-world-ranking/SCO","countryCode":"SCO"},"previousPoints":1471.82,"tag":{"id":"UEFA","text":"UEFA"}},{"rankingItem":{"rank":41,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/HUN","width":70,"height":46,"title":"Hungary","alt":"Hungary"},"name":"Hungary","totalPoints":1465.62,"active":false,"previousRank":39,"countryURL":"/fifa-world-ranking/HUN","countryCode":"HUN"},"previousPoints":1465.62,"tag":{"id":"UEFA","text":"UEFA"}},{"rankingItem":{"rank":42,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/CRC","width":70,"height":46,"title":"Costa Rica","alt":"Costa Rica"},"name":"Costa Rica","totalPoints":1464.06,"active":false,"previousRank":49,"countryURL":"/fifa-world-ranking/CRC","countryCode":"CRC"},"previousPoints":1437.43,"tag":{"id":"CONCACAF","text":"CONCACAF"}},{"rankingItem":{"rank":43,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/ALG","width":70,"height":46,"title":"Algeria","alt":"Algeria"},"name":"Algeria","totalPoints":1460.93,"active":false,"previousRank":29,"countryURL":"/fifa-world-ranking/ALG","countryCode":"ALG"},"previousPoints":1516.51,"tag":{"id":"CAF","text":"CAF"}},{"rankingItem":{"rank":44,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/ECU","width":70,"height":46,"title":"Ecuador","alt":"Ecuador"},"name":"Ecuador","totalPoints":1458.63,"active":false,"previousRank":46,"countryURL":"/fifa-world-ranking/ECU","countryCode":"ECU"},"previousPoints":1448.27,"tag":{"id":"CONMEBOL","text":"CONMEBOL"}},{"rankingItem":{"rank":45,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/NOR","width":70,"height":46,"title":"Norway","alt":"Norway"},"name":"Norway","totalPoints":1455.43,"active":false,"previousRank":41,"countryURL":"/fifa-world-ranking/NOR","countryCode":"NOR"},"previousPoints":1455.43,"tag":{"id":"UEFA","text":"UEFA"}},{"rankingItem":{"rank":46,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/SVK","width":70,"height":46,"title":"Slovakia","alt":"Slovakia"},"name":"Slovakia","totalPoints":1455.36,"active":false,"previousRank":42,"countryURL":"/fifa-world-ranking/SVK","countryCode":"SVK"},"previousPoints":1455.36,"tag":{"id":"UEFA","text":"UEFA"}},{"rankingItem":{"rank":47,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/ROU","width":70,"height":46,"title":"Romania","alt":"Romania"},"name":"Romania","totalPoints":1453.18,"active":false,"previousRank":44,"countryURL":"/fifa-world-ranking/ROU","countryCode":"ROU"},"previousPoints":1453.18,"tag":{"id":"UEFA","text":"UEFA"}},{"rankingItem":{"rank":48,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/MLI","width":70,"height":46,"title":"Mali","alt":"Mali"},"name":"Mali","totalPoints":1446.49,"active":false,"previousRank":53,"countryURL":"/fifa-world-ranking/MLI","countryCode":"MLI"},"previousPoints":1427.98,"tag":{"id":"CAF","text":"CAF"}},{"rankingItem":{"rank":49,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/IRL","width":70,"height":46,"title":"Republic of Ireland","alt":"Republic of Ireland"},"name":"Republic of Ireland","totalPoints":1444.29,"active":false,"previousRank":47,"countryURL":"/fifa-world-ranking/IRL","countryCode":"IRL"},"previousPoints":1444.29,"tag":{"id":"UEFA","text":"UEFA"}},{"rankingItem":{"rank":50,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/PAR","width":70,"height":46,"title":"Paraguay","alt":"Paraguay"},"name":"Paraguay","totalPoints":1440.53,"active":false,"previousRank":43,"countryURL":"/fifa-world-ranking/PAR","countryCode":"PAR"},"previousPoints":1454.52,"tag":{"id":"CONMEBOL","text":"CONMEBOL"}},{"rankingItem":{"rank":51,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/CIV","width":70,"height":46,"title":"Côte d'Ivoire","alt":"Côte d'Ivoire"},"name":"Côte d'Ivoire","totalPoints":1439.62,"active":false,"previousRank":56,"countryURL":"/fifa-world-ranking/CIV","countryCode":"CIV"},"previousPoints":1417.86,"tag":{"id":"CAF","text":"CAF"}},{"rankingItem":{"rank":52,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/QAT","width":70,"height":46,"title":"Qatar","alt":"Qatar"},"name":"Qatar","totalPoints":1437.91,"active":false,"previousRank":48,"countryURL":"/fifa-world-ranking/QAT","countryCode":"QAT"},"previousPoints":1437.91,"tag":{"id":"AFC","text":"AFC"}},{"rankingItem":{"rank":53,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/KSA","width":70,"height":46,"title":"Saudi Arabia","alt":"Saudi Arabia"},"name":"Saudi Arabia","totalPoints":1433.95,"active":false,"previousRank":51,"countryURL":"/fifa-world-ranking/KSA","countryCode":"KSA"},"previousPoints":1434.71,"tag":{"id":"AFC","text":"AFC"}},{"rankingItem":{"rank":54,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/NIR","width":70,"height":46,"title":"Northern Ireland","alt":"Northern Ireland"},"name":"Northern Ireland","totalPoints":1424.97,"active":false,"previousRank":54,"countryURL":"/fifa-world-ranking/NIR","countryCode":"NIR"},"previousPoints":1424.97,"tag":{"id":"UEFA","text":"UEFA"}},{"rankingItem":{"rank":55,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/GRE","width":70,"height":46,"title":"Greece","alt":"Greece"},"name":"Greece","totalPoints":1421.99,"active":false,"previousRank":55,"countryURL":"/fifa-world-ranking/GRE","countryCode":"GRE"},"previousPoints":1421.99,"tag":{"id":"UEFA","text":"UEFA"}},{"rankingItem":{"rank":56,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/BFA","width":70,"height":46,"title":"Burkina Faso","alt":"Burkina Faso"},"name":"Burkina Faso","totalPoints":1418.58,"active":false,"previousRank":60,"countryURL":"/fifa-world-ranking/BFA","countryCode":"BFA"},"previousPoints":1397.64,"tag":{"id":"CAF","text":"CAF"}},{"rankingItem":{"rank":57,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/FIN","width":70,"height":46,"title":"Finland","alt":"Finland"},"name":"Finland","totalPoints":1411.77,"active":false,"previousRank":58,"countryURL":"/fifa-world-ranking/FIN","countryCode":"FIN"},"previousPoints":1411.77,"tag":{"id":"UEFA","text":"UEFA"}},{"rankingItem":{"rank":58,"flag":{"src":"https://api.fifa.com/api/v1/picture/flags-sq-2/VEN","width":70,"height":46,"title":"Venezuela","alt":"Venezuela"},"name":"Venezuela","totalPoints":1411.45,"active":false,"previousRank":59,"countryURL":"/fifa-world-ranking/VEN","countryCode"

# Practice 7: Scrape the table

In [85]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [86]:
pd.set_option('display.max_colwidth', 600)

In [87]:
url = 'https://en.wikipedia.org/wiki/Russia'
response_7 = requests.get(url)
response_7

In [88]:
response_7_str = response_7.text
#response_7_str

In [89]:
soup_7 = BeautifulSoup(response_7_str, 'lxml')
#soup_7

In [90]:
len(soup_7.find_all('table'))

19

In [91]:
table_7 = soup_7.find('table', {'class': 'wikitable sortable'})
#table_7

In [92]:
#extract column names:
column_name_list = []
for column_name in table_7.find_all('th'):
    column_name_list.append(column_name.text.strip())

column_name_list

['Federal subjects', 'Governance']

In [93]:
#extract row values:
rows = table_7.find_all('tr')[1:]
rows
# for row in rows:
#     print(row.text.strip())


def content_7(r):

    dict_rows ={
    'federal_subjects':r.find_all('td')[0].div.text.strip(),
    'governance':r.find_all('td')[1].text.strip()
    }


    return dict_rows

content_list = []
for row in rows:
    content_list.append(content_7(row))

print(content_list)

pd.DataFrame(content_list)

[{'federal_subjects': '46\xa0oblasts', 'governance': 'The most common type of federal subject with a governor and locally elected legislature. Commonly named after their administrative centres.[240]'}, {'federal_subjects': '22\xa0republics', 'governance': 'Each is nominally autonomous—home to a specific ethnic minority, and has its own constitution, language, and legislature, but is represented by the federal government in international affairs.[241]'}, {'federal_subjects': '9\xa0krais', 'governance': 'For all intents and purposes, krais are legally identical to oblasts. The title "krai" ("frontier" or "territory") is historic, related to geographic (frontier) position in a certain period of history. The current krais are not related to frontiers.[242]'}, {'federal_subjects': '4\xa0autonomous okrugs', 'governance': 'Occasionally referred to as "autonomous district", "autonomous area", and "autonomous region", each with a substantial or predominant ethnic minority.[243]'}, {'federal_subjects': '3\xa0federal cities', 'governance': 'Major cities that function as separate regions (Moscow, Saint Petersburg, and Sevastopol).[244]'}, {'federal_subjects': '1\xa0autonomous oblast', 'governance': 'The only autonomous oblast is the Jewish Autonomous Oblast.[245]'}]

,federal_subjects,governance
0,46 oblasts,The most common type of federal subject with a governor and locally elected legislature. Commonly named after their administrative centres.[240]
1,22 republics,"Each is nominally autonomous—home to a specific ethnic minority, and has its own constitution, language, and legislature, but is represented by the federal government in international affairs.[241]"
2,9 krais,"For all intents and purposes, krais are legally identical to oblasts. The title ""krai"" (""frontier"" or ""territory"") is historic, related to geographic (frontier) position in a certain period of history. The current krais are not related to frontiers.[242]"
3,4 autonomous okrugs,"Occasionally referred to as ""autonomous district"", ""autonomous area"", and ""autonomous region"", each with a substantial or predominant ethnic minority.[243]"
4,3 federal cities,"Major cities that function as separate regions (Moscow, Saint Petersburg, and Sevastopol).[244]"
5,1 autonomous oblast,The only autonomous oblast is the Jewish Autonomous Oblast.[245]

# Practice 8: Scrape the table F1 2021 standings

In [94]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [95]:
url = 'https://www.formula1.com/en/results.html/2021/drivers.html'

response_8 = requests.get(url)
response_8

In [96]:
response_8_str = response_8.text
#response_8_str

In [97]:
soup_8 = BeautifulSoup(response_8_str, 'lxml')
table_8 = soup_8.find('table', {'class': 'resultsarchive-table'})
#table_8

In [98]:
#extract column names
column_name_list_raw_8 = []
for th in table_8.thead.find_all('th'):
    column_name_list_raw_8.append(th.text.strip())

column_name_list_8 = column_name_list_raw_8[1:-1]
column_name_list_8

['Pos', 'Driver', 'Nationality', 'Car', 'PTS']

In [99]:
# extract row values
rows = table_8.tbody.find_all('tr')
len(rows)

21

In [100]:
rows[0]

<tr>
<td class="limiter"></td>
<td class="dark">1</td>
<td>
<a class="dark bold ArchiveLink" data-ajax-url="/content/fom-website/en/results/jcr:content/resultsarchive.html/2021/drivers/MAXVER01/max-verstappen.html" href="/en/results.html/2021/drivers/MAXVER01/max-verstappen.html">
<span class="hide-for-tablet">Max</span>
<span class="hide-for-mobile">Verstappen</span>
<span class="uppercase hide-for-desktop">VER</span>
</a>
</td>
<td class="dark semi-bold uppercase">NED</td>
<td>
<a class="grey semi-bold uppercase ArchiveLink" data-ajax-url="/content/fom-website/en/results/jcr:content/resultsarchive.html/2021/team/red_bull_racing_honda.html" href="/en/results.html/2021/team/red_bull_racing_honda.html">Red Bull Racing Honda</a>
</td>
<td class="dark bold">395.5</td>
<td class="limiter"></td>
</tr>

In [101]:
standings_list = []
for row in rows:
    dict_ = {
    'pos' : row.find_all('td')[1].text.strip(),
    'driver' : row.find_all('td')[2].find('span', {'class': 'uppercase hide-for-desktop'}).text.strip(),
    'nationality' : row.find_all('td')[3].text.strip(),
    'car' : row.find_all('td')[4].text.strip(),
    'pts' : row.find_all('td')[5].text.strip()
    }
    standings_list.append(dict_)

print(standings_list)

[{'pos': '1', 'driver': 'VER', 'nationality': 'NED', 'car': 'Red Bull Racing Honda', 'pts': '395.5'}, {'pos': '2', 'driver': 'HAM', 'nationality': 'GBR', 'car': 'Mercedes', 'pts': '387.5'}, {'pos': '3', 'driver': 'BOT', 'nationality': 'FIN', 'car': 'Mercedes', 'pts': '226'}, {'pos': '4', 'driver': 'PER', 'nationality': 'MEX', 'car': 'Red Bull Racing Honda', 'pts': '190'}, {'pos': '5', 'driver': 'SAI', 'nationality': 'ESP', 'car': 'Ferrari', 'pts': '164.5'}, {'pos': '6', 'driver': 'NOR', 'nationality': 'GBR', 'car': 'McLaren Mercedes', 'pts': '160'}, {'pos': '7', 'driver': 'LEC', 'nationality': 'MON', 'car': 'Ferrari', 'pts': '159'}, {'pos': '8', 'driver': 'RIC', 'nationality': 'AUS', 'car': 'McLaren Mercedes', 'pts': '115'}, {'pos': '9', 'driver': 'GAS', 'nationality': 'FRA', 'car': 'AlphaTauri Honda', 'pts': '110'}, {'pos': '10', 'driver': 'ALO', 'nationality': 'ESP', 'car': 'Alpine Renault', 'pts': '81'}, {'pos': '11', 'driver': 'OCO', 'nationality': 'FRA', 'car': 'Alpine Renault', 'pts': '74'}, {'pos': '12', 'driver': 'VET', 'nationality': 'GER', 'car': 'Aston Martin Mercedes', 'pts': '43'}, {'pos': '13', 'driver': 'STR', 'nationality': 'CAN', 'car': 'Aston Martin Mercedes', 'pts': '34'}, {'pos': '14', 'driver': 'TSU', 'nationality': 'JPN', 'car': 'AlphaTauri Honda', 'pts': '32'}, {'pos': '15', 'driver': 'RUS', 'nationality': 'GBR', 'car': 'Williams Mercedes', 'pts': '16'}, {'pos': '16', 'driver': 'RAI', 'nationality': 'FIN', 'car': 'Alfa Romeo Racing Ferrari', 'pts': '10'}, {'pos': '17', 'driver': 'LAT', 'nationality': 'CAN', 'car': 'Williams Mercedes', 'pts': '7'}, {'pos': '18', 'driver': 'GIO', 'nationality': 'ITA', 'car': 'Alfa Romeo Racing Ferrari', 'pts': '3'}, {'pos': '19', 'driver': 'MSC', 'nationality': 'GER', 'car': 'Haas Ferrari', 'pts': '0'}, {'pos': '20', 'driver': 'KUB', 'nationality': 'POL', 'car': 'Alfa Romeo Racing Ferrari', 'pts': '0'}, {'pos': '21', 'driver': 'MAZ', 'nationality': 'RAF', 'car': 'Haas Ferrari', 'pts': '0'}]

In [102]:
pd.DataFrame(standings_list)

   pos driver nationality                        car    pts
0    1    VER         NED      Red Bull Racing Honda  395.5
1    2    HAM         GBR                   Mercedes  387.5
2    3    BOT         FIN                   Mercedes    226
3    4    PER         MEX      Red Bull Racing Honda    190
4    5    SAI         ESP                    Ferrari  164.5
5    6    NOR         GBR           McLaren Mercedes    160
6    7    LEC         MON                    Ferrari    159
7    8    RIC         AUS           McLaren Mercedes    115
8    9    GAS         FRA           AlphaTauri Honda    110
9   10    ALO         ESP             Alpine Renault     81
10  11    OCO         FRA             Alpine Renault     74
11  12    VET         GER      Aston Martin Mercedes     43
12  13    STR         CAN      Aston Martin Mercedes     34
13  14    TSU         JPN           AlphaTauri Honda     32
14  15    RUS         GBR          Williams Mercedes     16
15  16    RAI         FIN  Alfa Romeo Racing Ferrari     10
16  17    LAT         CAN          Williams Mercedes      7
17  18    GIO         ITA  Alfa Romeo Racing Ferrari      3
18  19    MSC         GER               Haas Ferrari      0
19  20    KUB         POL  Alfa Romeo Racing Ferrari      0
20  21    MAZ         RAF               Haas Ferrari      0

In [103]:
a = pd.DataFrame(standings_list)
a

   pos driver nationality                        car    pts
0    1    VER         NED      Red Bull Racing Honda  395.5
1    2    HAM         GBR                   Mercedes  387.5
2    3    BOT         FIN                   Mercedes    226
3    4    PER         MEX      Red Bull Racing Honda    190
4    5    SAI         ESP                    Ferrari  164.5
5    6    NOR         GBR           McLaren Mercedes    160
6    7    LEC         MON                    Ferrari    159
7    8    RIC         AUS           McLaren Mercedes    115
8    9    GAS         FRA           AlphaTauri Honda    110
9   10    ALO         ESP             Alpine Renault     81
10  11    OCO         FRA             Alpine Renault     74
11  12    VET         GER      Aston Martin Mercedes     43
12  13    STR         CAN      Aston Martin Mercedes     34
13  14    TSU         JPN           AlphaTauri Honda     32
14  15    RUS         GBR          Williams Mercedes     16
15  16    RAI         FIN  Alfa Romeo Racing Ferrari     10
16  17    LAT         CAN          Williams Mercedes      7
17  18    GIO         ITA  Alfa Romeo Racing Ferrari      3
18  19    MSC         GER               Haas Ferrari      0
19  20    KUB         POL  Alfa Romeo Racing Ferrari      0
20  21    MAZ         RAF               Haas Ferrari      0

# Practice 9: Extract data from api

Link: https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/API_call_spacex_api.json

In [104]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [105]:
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/API_call_spacex_api.json'
response_9 = requests.get(url, headers = headers)
response_9

In [106]:
response_9_json = response_9.json()
response_9_json[0]

{'auto_update': True,
 'capsules': [],
 'cores': [{'core': '5e9e289df35918033d3b2623',
   'flight': 1,
   'gridfins': False,
   'landing_attempt': False,
   'landing_success': None,
   'landing_type': None,
   'landpad': None,
   'legs': False,
   'reused': False}],
 'crew': [],
 'date_local': '2006-03-25T10:30:00+12:00',
 'date_precision': 'hour',
 'date_unix': 1143239400,
 'date_utc': '2006-03-24T22:30:00.000Z',
 'details': 'Engine failure at 33 seconds and loss of vehicle',
 'failures': [{'altitude': None,
   'reason': 'merlin engine failure',
   'time': 33}],
 'fairings': {'recovered': False,
  'recovery_attempt': False,
  'reused': False,
  'ships': []},
 'flight_number': 1,
 'id': '5eb87cd9ffd86e000604b32a',
 'launchpad': '5e9e4502f5090995de566f86',
 'links': {'article': 'https://www.space.com/2196-spacex-inaugural-falcon-1-rocket-lost-launch.html',
  'flickr': {'original': [], 'small': []},
  'patch': {'large': 'https://images2.imgbox.com/40/e3/GypSkayF_o.png',
   'small': 'https://images2.imgbox.com/3c/0e/T8iJcSN3_o.png'},
  'presskit': None,
  'reddit': {'campaign': None,
   'launch': None,
   'media': None,
   'recovery': None},
  'webcast': 'https://www.youtube.com/watch?v=0a_00nJ_Y88',
  'wikipedia': 'https://en.wikipedia.org/wiki/DemoSat',
  'youtube_id': '0a_00nJ_Y88'},
 'name': 'FalconSat',
 'net': False,
 'payloads': ['5eb0e4b5b6c3bb0006eeb1e1'],
 'rocket': '5e9d0d95eda69955f709d1eb',
 'ships': [],
 'static_fire_date_unix': 1142553600,
 'static_fire_date_utc': '2006-03-17T00:00:00.000Z',
 'success': False,
 'tbd': False,
 'upcoming': False,
 'window': 0}

In [107]:
response_9_normalise = pd.json_normalize(response_9_json)
response_9_normalise

,static_fire_date_utc,static_fire_date_unix,tbd,net,window,rocket,success,details,crew,ships,...,links.reddit.media,links.reddit.recovery,links.flickr.small,links.flickr.original,links.presskit,links.webcast,links.youtube_id,links.article,links.wikipedia,fairings
0,2006-03-17T00:00:00.000Z,1.142554e+09,False,False,0.0,5e9d0d95eda69955f709d1eb,False,Engine failure at 33 seconds and loss of vehicle,[],[],...,None,None,[],[],None,https://www.youtube.com/watch?v=0a_00nJ_Y88,0a_00nJ_Y88,https://www.space.com/2196-spacex-inaugural-falcon-1-rocket-lost-launch.html,https://en.wikipedia.org/wiki/DemoSat,NaN
1,None,NaN,False,False,0.0,5e9d0d95eda69955f709d1eb,False,"Successful first stage burn and transition to second stage, maximum altitude 289 km, Premature engine shutdown at T+7 min 30 s, Failed to reach orbit, Failed to recover first stage",[],[],...,None,None,[],[],None,https://www.youtube.com/watch?v=Lk4zQ2wP-Nc,Lk4zQ2wP-Nc,https://www.space.com/3590-spacex-falcon-1-rocket-fails-reach-orbit.html,https://en.wikipedia.org/wiki/DemoSat,NaN
2,None,NaN,False,False,0.0,5e9d0d95eda69955f709d1eb,False,Residual stage 1 thrust led to collision between stage 1 and stage 2,[],[],...,None,None,[],[],None,https://www.youtube.com/watch?v=v0w9p3U8860,v0w9p3U8860,http://www.spacex.com/news/2013/02/11/falcon-1-flight-3-mission-summary,https://en.wikipedia.org/wiki/Trailblazer_(satellite),NaN
3,2008-09-20T00:00:00.000Z,1.221869e+09,False,False,0.0,5e9d0d95eda69955f709d1eb,True,"Ratsat was carried to orbit on the first successful orbital launch of any privately funded and developed, liquid-propelled carrier rocket, the SpaceX Falcon 1",[],[],...,None,None,[],[],None,https://www.youtube.com/watch?v=dLQ2tZEH6G0,dLQ2tZEH6G0,https://en.wikipedia.org/wiki/Ratsat,https://en.wikipedia.org/wiki/Ratsat,NaN
4,None,NaN,False,False,0.0,5e9d0d95eda69955f709d1eb,True,None,[],[],...,None,None,[],[],http://www.spacex.com/press/2012/12/19/spacexs-falcon-1-successfully-delivers-razaksat-satellite-orbit,https://www.youtube.com/watch?v=yTaIDooc8Og,yTaIDooc8Og,http://www.spacex.com/news/2013/02/12/falcon-1-flight-5,https://en.wikipedia.org/wiki/RazakSAT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,None,NaN,False,False,0.0,5e9d0d95eda69973a809d1ec,True,"This mission will launch the twelfth batch of operational Starlink satellites, which are expected to be version 1.0, from SLC-40, Cape Canaveral Air Force Station. It is the thirteenth Starlink launch overall. The satellites will be delivered to low Earth orbit and will spend a few weeks maneuvering to their operational altitude of 550 km. The booster for this mission is expected to land on an ASDS.",[],"[5ea6ed2f080df4000697c90b, 5ea6ed2f080df4000697c910, 5ea6ed2e080df4000697c907, 5ea6ed2e080df4000697c908, 5ea6ed30080df4000697c913]",...,https://www.reddit.com/r/spacex/comments/iudifm/rspacex_starlink12_media_thread_photographer/,None,[],"[https://live.staticflickr.com/65535/50428228397_6151927733_o.jpg, https://live.staticflickr.com/65535/50427359318_67b3397892_o.jpg, https://live.staticflickr.com/65535/50428050591_36defbe958_o.jpg]",None,https://youtu.be/UZkaE_9zwQQ,UZkaE_9zwQQ,None,https://en.wikipedia.org/wiki/Starlink,NaN
103,2020-10-17T05:23:00.000Z,1.602912e+09,False,False,NaN,5e9d0d95eda69973a809d1ec,True,"This mission will launch the thirteenth batch of operational Starlink satellites, which are expected to be version 1.0, from LC-39A, Kennedy Space Center. It is the fourteenth Starlink launch overall. The satellites will be delivered to low Earth orbit and will spend a few weeks maneuvering to their operational altitude of 550 km. The booster for this mission is expected to land on an ASDS.",[],"[5ea6ed30080df4000697c913, 5ea6ed2f080df4000697c90b, 5ee68c683c228f36bd5809b5, 5ea6ed2e080df4000697c907, 5ea6ed2e080df4000697c908]",...,https://www.reddit.com/r/spacex/comments/jdgsm2/rspacex_starlink13_media_thread_photographer/,https://www.reddit.com/r/spacex/comments/jdgpgl/starlink13_recovery_updates_discussion_thread/,[],"[https://live.staticflickr.com/65535/50500804918_eb1187e1b2_o.jpg, https://live.staticflickr.com/65535/50501674637_f16f528728_o.jpg, https://live.staticflickr.com/65535/50501515611_2a3753bed1_o.jpg, https://live.staticflickr.com/65535/50501674632_0d5276b1b5_o.jpg]",None,https://youtu.be/UM8CDDAmp98,UM8CDDAmp98,https://spaceflightnow.com/2020/10/18/spacex-launches-another-batch-of-starlink-satellites/,https://en.wikipedia.org/wiki/Starlink,NaN
104,2020-10-21T12:55:00.000Z,1.603285e+09,False,False,NaN,5e9d0d95eda69973a809d1ec,True,"This mission will launch the fourteenth batch of operational Starlink satellites, which are expected to be version 1.0, from SLC-40, Kennedy Space Center. It is the fifteenth Starlink launch overall. The satellites will be delivered to low Earth orbit and will spend a few weeks maneuvering to their operational altitude of 550 km. The booster for this mission is expected to land on JRTI.",[],"[5ea6ed2f080df4000697c910, 5ea6ed2f080df4000697c90b, 5ea6ed2e080df4000697c907, 5ea6ed2e080df4000697c908]",...,https://www.reddit.com/r/spacex/comments/jhcwun/rspacex_starlink14_media_thread_photographer/,None,[],[],None,https://youtu.be/2gbVgTxLgN0,2gbVgTxLgN0,https://spaceflightnow.com/2020/10/24/spacex-adds-another-60-satellites-to-starlink-network/,https://en.wikipedia.org/wiki/Starlink,NaN
105,2020-09-25T05:42:00.000Z,1.601013e+09,False,False,NaN,5e9d0d95eda69973a809d1ec,True,"SpaceX will launch GPS Block III Space Vehicle 04 from SLC-40, Cape Canaveral AFS aboard a Falcon 9. GPS III is owned and operated by the US Air Force and produced by Lockheed Martin. This will be the fourth GPS III satellite launched and the third launched by SpaceX. The satellite will be delivered into a MEO transfer orbit. The booster for this mission will land on an ASDS.",[],"[5ea6ed30080df4000697c913, 5ee68c683c228f36bd5809b5, 5ea6ed2e080df4000697c907]",...,None,None,[],[],None,https://youtu.be/wufXF5YKR1M,wufXF5YKR1M,https://spaceflightnow.com/2020/11/06/spacex-launches-gps-navigation-satellite-from-cape-canaveral/,https://en.wikipedia.org/wiki/GPS_Block_III,NaN
106,2020-11-11T16:17:00.000Z,1.605111e+09,False,False,NaN,5e9d0d95eda69973a809d1ec,True,"SpaceX will launch the first operational mission of its Crew Dragon vehicle as part of NASA's Commercial Crew Transportation Capability Program (CCtCap), carrying 3 NASA astronauts and 1 JAXA astronaut to the International Space Station. This mission will be the second crewed flight to launch from the United States since the end of the Space Shuttle program in 2011.","[5f7f1543bf32c864a529b23e, 5f7f158bbf32c864a529b23f, 5f7f15d5bf32c864a529b240, 5f7f1614bf32c864a529b241]","[5ea6ed2f080df4000697c910, 5ee68c683c228f36bd5809b5, 5ea6ed2f080df4000697c90c, 5ea6ed2e080df4000697c909, 5ea6ed2f080df4000697c90b]",...,https://www.reddit.com/r/spacex/comments/judv0r/rspacex_crew1_media_thread_photographer_contest/,None,[],[],None,https://youtu.be/bnChQbxLkkI,bnChQbxLkkI,None,https://en.wikipedia.org/wiki/SpaceX_Crew-1,NaN