<a href="https://colab.research.google.com/github/bharathArunachalam/Web_Scrapping/blob/main/WebScrapping_practice_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Practice 1: Web scrapping stock information

Objective: Scrape the following information from 'https://www.moneycontrol.com/'

Build the table below for 6 companies:

['Rail Vikas', 'TCS', 'Indigo Paints', 'IOC', 'PVR', 'Reliance']

|Name| Date | Time| Closing_price| Change_in_value| Percent_change|

In [ ]:
import requests

url = 'https://www.moneycontrol.com/india/stockpricequote/'
# this page contains links to all the stocks in Indian market.

headers = {'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4758.102 Safari/537.36'}
# response 200 without adding User-Agent detail to requests.get()

response = requests.get(url)
response

In [ ]:
response_str = response.text

In [ ]:
from bs4 import BeautifulSoup
import lxml

soup = BeautifulSoup(response_str, 'lxml')

#BeautifulSoup object is ready

In [ ]:
link_compilation = soup.find('div', {'class': 'PT15'}).table.find_all('a')

company_names = ['Rail Vikas', 'TCS', 'Indigo Paints', 'IOC', 'PVR', 'Reliance']
#the list of companies we need to track data on. Add company name to this list to see the value in the data frame below.

company_links = []

for link in link_compilation:
    for name in company_names:
        if name in link:
            company_links.append(link.get('href'))
# list of company links we are tracking.

company_links

['https://www.moneycontrol.com/india/stockpricequote/paints/indigopaints/IP08',
 'https://www.moneycontrol.com/india/stockpricequote/refineries/indianoilcorporation/IOC',
 'https://www.moneycontrol.com/india/stockpricequote/mediaentertainment/pvr/PVR',
 'https://www.moneycontrol.com/india/stockpricequote/miscellaneous/railvikasnigam/RVN',
 'https://www.moneycontrol.com/india/stockpricequote/refineries/relianceindustries/RI',
 'https://www.moneycontrol.com/india/stockpricequote/computerssoftware/tataconsultancyservices/TCS']

In [ ]:
# response_1  = requests.get(company_links[4])
# response_1

In [ ]:

# response_1_str = response_1.text

In [ ]:
# soup_1 = BeautifulSoup(response_1_str, 'lxml')
# company_name = soup_1.find('div', {'class':'indices_namntab clearfix'}).find('div', {'class':'inid_name'}).h1.text
# #company_name

# time = soup_1.find('div', {'class':'indimprice'}).find('p', {'class': 'nseasondate'}).text[-5:]
# #time

# date = soup_1.find('div', {'class':'indimprice'}).find('p', {'class': 'nseasondate'}).text[-20:-8]
# #date

# price_percent = soup_1.find('div', {'class': 'indimprice'}).find('div',{'class': 'nsechange'}).text
# price_percent_list = price_percent.split(' ')

# price_change = price_percent_list[0]
# percent_change = price_percent_list[1].replace('(', '').replace(')', ''). replace('%', '')

# #price_change
# #percent_change

# closing_price = soup_1.find('div', {'class': 'inprice1 nsecp'}).get('rel')
# #closing_price

# print(company_name, time, date, price_change, percent_change, closing_price)

In [ ]:
from datetime import datetime

In [ ]:
# build a function for the above cell:
def stock_data_extraction(link):
    
    response_1 = requests.get(link).text
    soup_1 = BeautifulSoup(response_1, 'lxml')

    date = soup_1.find('div', {'class':'indimprice'}).find('p', {'class': 'nseasondate'}).text[-20:-8]
    #date =
    day = date[0:2]
    month = date[3:6].lower()
    year = date[-4:]
    date_format = day + ' ' + month + ' ' + year
    date_format_2 = date_format.replace(' ', '/')
    """formatting the date. We received it as '25 Feb, 2022', We need it as '25/feb/2022' """
    
    price_percent = soup_1.find('div', {'class': 'indimprice'}).find('div',{'class': 'nsechange'}).text
    price_percent_list = price_percent.split(' ')
    """formatting the price_percent.We received it as '(-0.24)', We need it as '-0.24' """
    
    stock_dict = {
                  'company_name' : soup_1.find('div', {'class':'indices_namntab clearfix'}).find('div', {'class':'inid_name'}).h1.text,
                  'date' : date_format_2,
                  'time' : soup_1.find('div', {'class':'indimprice'}).find('p', {'class': 'nseasondate'}).text[-5:],
                  'closing_price' : float(soup_1.find('div', {'class': 'inprice1 nsecp'}).get('rel')),
                  'price_change' : float(price_percent_list[0]),
                  'percent_change' : float(price_percent_list[1].replace('(', '').replace(')', ''). replace('%', '')),
                  }
    
    return stock_dict

stock_data_extraction(company_links[1])

{'closing_price': 115.0,
 'company_name': 'Indian Oil Corporation Ltd.',
 'date': '28/feb/2022',
 'percent_change': 2.36,
 'price_change': 2.65,
 'time': '03:59'}

In [ ]:
#checking response stat of individual links

stock_data_list = []

for link in company_links:
    stock_data_list.append(stock_data_extraction(link))

print(stock_data_list)

[{'company_name': 'Indigo Paints Ltd.', 'date': '28/feb/2022', 'time': '03:59', 'closing_price': 1790.65, 'price_change': 43.15, 'percent_change': 2.47}, {'company_name': 'Indian Oil Corporation Ltd.', 'date': '28/feb/2022', 'time': '03:59', 'closing_price': 115.0, 'price_change': 2.65, 'percent_change': 2.36}, {'company_name': 'PVR Ltd.', 'date': '28/feb/2022', 'time': '03:59', 'closing_price': 1635.75, 'price_change': 39.1, 'percent_change': 2.45}, {'company_name': 'Rail Vikas Nigam Ltd.', 'date': '28/feb/2022', 'time': '03:59', 'closing_price': 30.95, 'price_change': -0.05, 'percent_change': -0.16}, {'company_name': 'Reliance Industries Ltd.', 'date': '28/feb/2022', 'time': '03:59', 'closing_price': 2359.55, 'price_change': 75.6, 'percent_change': 3.31}, {'company_name': 'Tata Consultancy Services Ltd.', 'date': '28/feb/2022', 'time': '03:59', 'closing_price': 3554.2, 'price_change': 33.45, 'percent_change': 0.95}]

In [ ]:
import pandas as pd

stock_data_df = pd.DataFrame(stock_data_list)  
stock_data_df

                     company_name         date  ... price_change  percent_change
0  Indigo Paints Ltd.              28/feb/2022  ...  43.15        2.47
1  Indian Oil Corporation Ltd.     28/feb/2022  ...  2.65         2.36
2  PVR Ltd.                        28/feb/2022  ...  39.10        2.45
3  Rail Vikas Nigam Ltd.           28/feb/2022  ... -0.05        -0.16
4  Reliance Industries Ltd.        28/feb/2022  ...  75.60        3.31
5  Tata Consultancy Services Ltd.  28/feb/2022  ...  33.45        0.95

[6 rows x 6 columns]

In [ ]:
import json
with open('stock_data_1.json', 'w') as a:
    json.dump(stock_data_list, a)

# converting the list of dictionaries as .json file

# Practice 2: Web scrapping f1 calender 2022

Objective: Scrape the following information from 'https://www.formula1.com'

Build the table below for all the races:

|GP| Country | City| Race Weekend (from - to)| Qualifying Date| Qualifying Time|| Race Date| Race Time|

In [1]:
import requests
url = 'https://www.formula1.com'

headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.110 Safari/537.36'}
response = requests.get(url, headers = headers)
response

In [2]:
response_str = response.text

In [3]:
#response_str

In [4]:
from bs4 import BeautifulSoup
import lxml

soup = BeautifulSoup(response_str, 'lxml')
#soup

In [5]:
race_list = soup.find('div',{'class':'race-list'}).find_all('article')
#the node below which all data is available.

In [6]:
country_names = []
for item in race_list:
    country_names.append(item.find('span', {'class':'name'}).text)

In [7]:
gp_names = []
for gp in race_list:
    gp_names.append(gp.find('h3').a.text)

In [8]:
from_race_dates = []
for date in race_list:
    from_race_dates.append( date.find('time', {'class': 'from date-full'}).text.strip())

to_race_dates = []
for date in race_list:
    to_race_dates.append( date.find('time', {'class': 'to date-full'}).text.strip())

In [9]:
import pandas as pd
pd.set_option('display.max_colwidth', 1)

race_schedule_data = {'country': country_names, 'gp': gp_names, 'from': from_race_dates,'to': to_race_dates}

index= []
for i in range (1, len(country_names)+1):
    index.append(i)

f1_schedule_df = pd.DataFrame(race_schedule_data, index= index)
f1_schedule_df

          country  ...           to
1   Bahrain        ...  20 Mar 2022
2   Saudi Arabia   ...  27 Mar 2022
3   Australia      ...  10 Apr 2022
4   Italy          ...  24 Apr 2022
5   United States  ...  08 May 2022
6   Spain          ...  22 May 2022
7   Monaco         ...  29 May 2022
8   Azerbaijan     ...  12 Jun 2022
9   Canada         ...  19 Jun 2022
10  Great Britain  ...  03 Jul 2022
11  Austria        ...  10 Jul 2022
12  France         ...  24 Jul 2022
13  Hungary        ...  31 Jul 2022
14  Belgium        ...  28 Aug 2022
15  Netherlands    ...  04 Sep 2022
16  Italy          ...  11 Sep 2022
17  Singapore      ...  02 Oct 2022
18  Japan          ...  09 Oct 2022
19  United States  ...  23 Oct 2022
20  Mexico         ...  30 Oct 2022
21  Brazil         ...  13 Nov 2022
22  Abu Dhabi      ...  20 Nov 2022

[22 rows x 4 columns]

In [10]:
f1_schedule_df.to_excel("f1_schedule_2022.xlsx")