<a href="https://colab.research.google.com/github/bharathArunachalam/Web_Scrapping/blob/main/WebScrapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Practice: Web scrapping from website

Objective: Scrape the following information from 'https://www.moneycontrol.com/'

Build the table below for 6 companies:

['Rail Vikas', 'TCS', 'Indigo Paints', 'IOC', 'PVR', 'Reliance']

|Name| Date | Time| Closing_price| Change_in_value| Percent_change|

In [ ]:
import requests

url = 'https://www.moneycontrol.com/india/stockpricequote/'
# this page contains links to all the stocks in Indian market.

headers = {'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4758.102 Safari/537.36'}
# response 200 without adding User-Agent detail to requests.get()

response = requests.get(url)
response

In [ ]:
response_str = response.text

In [ ]:
from bs4 import BeautifulSoup
import lxml

soup = BeautifulSoup(response_str, 'lxml')

#BeautifulSoup object is ready

In [ ]:
link_compilation = soup.find('div', {'class': 'PT15'}).table.find_all('a')

company_names = ['Rail Vikas', 'TCS', 'Indigo Paints', 'IOC', 'PVR', 'Reliance']
#the list of companies we need to track data on. Add company name to this list to see the value in the data frame below.

company_links = []

for link in link_compilation:
    for name in company_names:
        if name in link:
            company_links.append(link.get('href'))
# list of company links we are tracking.

company_links

['https://www.moneycontrol.com/india/stockpricequote/paints/indigopaints/IP08',
 'https://www.moneycontrol.com/india/stockpricequote/refineries/indianoilcorporation/IOC',
 'https://www.moneycontrol.com/india/stockpricequote/mediaentertainment/pvr/PVR',
 'https://www.moneycontrol.com/india/stockpricequote/miscellaneous/railvikasnigam/RVN',
 'https://www.moneycontrol.com/india/stockpricequote/refineries/relianceindustries/RI',
 'https://www.moneycontrol.com/india/stockpricequote/computerssoftware/tataconsultancyservices/TCS']

In [ ]:
# response_1  = requests.get(company_links[4])
# response_1

In [ ]:

# response_1_str = response_1.text

In [ ]:
# soup_1 = BeautifulSoup(response_1_str, 'lxml')
# company_name = soup_1.find('div', {'class':'indices_namntab clearfix'}).find('div', {'class':'inid_name'}).h1.text
# #company_name

# time = soup_1.find('div', {'class':'indimprice'}).find('p', {'class': 'nseasondate'}).text[-5:]
# #time

# date = soup_1.find('div', {'class':'indimprice'}).find('p', {'class': 'nseasondate'}).text[-20:-8]
# #date

# price_percent = soup_1.find('div', {'class': 'indimprice'}).find('div',{'class': 'nsechange'}).text
# price_percent_list = price_percent.split(' ')

# price_change = price_percent_list[0]
# percent_change = price_percent_list[1].replace('(', '').replace(')', ''). replace('%', '')

# #price_change
# #percent_change

# closing_price = soup_1.find('div', {'class': 'inprice1 nsecp'}).get('rel')
# #closing_price

# print(company_name, time, date, price_change, percent_change, closing_price)

In [ ]:
from datetime import datetime

In [ ]:
# build a function for the above cell:
def stock_data_extraction(link):
    
    response_1 = requests.get(link).text
    soup_1 = BeautifulSoup(response_1, 'lxml')

    date = soup_1.find('div', {'class':'indimprice'}).find('p', {'class': 'nseasondate'}).text[-20:-8]
    #date =
    day = date[0:2]
    month = date[3:6].lower()
    year = date[-4:]
    date_format = day + ' ' + month + ' ' + year
    date_format_2 = date_format.replace(' ', '/')
    """formatting the date. We received it as '25 Feb, 2022', We need it as '25/feb/2022' """
    
    price_percent = soup_1.find('div', {'class': 'indimprice'}).find('div',{'class': 'nsechange'}).text
    price_percent_list = price_percent.split(' ')
    """formatting the price_percent.We received it as '(-0.24)', We need it as '-0.24' """
    
    stock_dict = {
                  'company_name' : soup_1.find('div', {'class':'indices_namntab clearfix'}).find('div', {'class':'inid_name'}).h1.text,
                  'date' : date_format_2,
                  'time' : soup_1.find('div', {'class':'indimprice'}).find('p', {'class': 'nseasondate'}).text[-5:],
                  'closing_price' : float(soup_1.find('div', {'class': 'inprice1 nsecp'}).get('rel')),
                  'price_change' : float(price_percent_list[0]),
                  'percent_change' : float(price_percent_list[1].replace('(', '').replace(')', ''). replace('%', '')),
                  }
    
    return stock_dict

stock_data_extraction(company_links[1])

{'closing_price': 112.35,
 'company_name': 'Indian Oil Corporation Ltd.',
 'date': '25/feb/2022',
 'percent_change': 2.14,
 'price_change': 2.35,
 'time': '03:59'}

In [ ]:
#checking response stat of individual links

stock_data_list = []

for link in company_links:
    stock_data_list.append(stock_data_extraction(link))

print(stock_data_list)

[{'company_name': 'Indigo Paints Ltd.', 'date': '25/feb/2022', 'time': '03:59', 'closing_price': 1747.5, 'price_change': -48.25, 'percent_change': -2.69}, {'company_name': 'Indian Oil Corporation Ltd.', 'date': '25/feb/2022', 'time': '03:59', 'closing_price': 112.35, 'price_change': 2.35, 'percent_change': 2.14}, {'company_name': 'PVR Ltd.', 'date': '25/feb/2022', 'time': '03:51', 'closing_price': 1596.65, 'price_change': 82.4, 'percent_change': 5.44}, {'company_name': 'Rail Vikas Nigam Ltd.', 'date': '25/feb/2022', 'time': '03:59', 'closing_price': 31.0, 'price_change': 1.8, 'percent_change': 6.16}, {'company_name': 'Reliance Industries Ltd.', 'date': '25/feb/2022', 'time': '03:59', 'closing_price': 2283.95, 'price_change': 28.2, 'percent_change': 1.25}, {'company_name': 'Tata Consultancy Services Ltd.', 'date': '25/feb/2022', 'time': '03:59', 'closing_price': 3520.75, 'price_change': 119.1, 'percent_change': 3.5}]

In [ ]:
import pandas as pd

stock_data_df = pd.DataFrame(stock_data_list)  
stock_data_df

                     company_name         date  ... price_change  percent_change
0              Indigo Paints Ltd.  25/feb/2022  ...       -48.25           -2.69
1     Indian Oil Corporation Ltd.  25/feb/2022  ...         2.35            2.14
2                        PVR Ltd.  25/feb/2022  ...        82.40            5.44
3           Rail Vikas Nigam Ltd.  25/feb/2022  ...         1.80            6.16
4        Reliance Industries Ltd.  25/feb/2022  ...        28.20            1.25
5  Tata Consultancy Services Ltd.  25/feb/2022  ...       119.10            3.50

[6 rows x 6 columns]

In [ ]:
import json
with open('stock_data_1.json', 'w') as a:
    json.dump(stock_data_list, a)

# converting the list of dictionaries as .json file